@use "../mixins";

.address-card {
  position: relative;
  padding: 30px 24px;
  border-radius: 2px;
  border: 1px solid var(--dark);
  display: flex;
  gap: 22px;
  height: 100%;
  @include mixins.no-select;
  @media screen and (max-width: 575px) {
    padding: 25px 15px;
    gap: 15px;
    flex-direction: column;
  }
  .icon {
    font-size: 40px;
    @media screen and (max-width: 575px) {
      font-size: 50px;
    }
  }
  .text {
    .inner-text {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
