@use "../color";
@use "../mixins";
.auth-modal {
  .modal-dialog {
    max-width: 600px;
  }
  .modal-header {
    h5 {
      font-size: 15px;
      font-weight: 500;
    }
  }
  form {
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
    .form-label {
      font-weight: 500;
    }
    input,
    select {
      height: 45px;
      font-size: 14px;
      border-radius: 0;
      &:focus {
        border-color: color.$dark;
      }
      &.error {
        border-color: color.$red;
        color: color.$red;
      }
    }
    .form-check-input {
      height: 15px;
      &:checked {
        border-color: color.$dark;
        background-color: color.$dark;
      }
    }
    label.error {
      font-size: 13px;
      color: color.$red;
    }
    button {
      border: 0;
      background-color: color.$dark;
      color: #ffffff;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      text-transform: capitalize;
      transition: all 0.4s linear;
      &:hover {
        background-color: lighten($color: color.$dark, $amount: 25%);
      }
      .css-spinner {
        display: none;
      }
      &.loading {
        pointer-events: none;
        opacity: 0.7;
        i {
          display: none;
        }
        .css-spinner {
          display: inline-block;
        }
      }
      &:disabled {
        pointer-events: none;
        opacity: 0.7;
      }
    }
    .action-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      a {
        color: color.$dark;
      }
    }
  }
}

.auth-tabs {
  .nav-tabs {
    .nav-link {
      width: 50%;
      color: color.$dark;
      border: 0;
      font-size: 14px;
      &.active {
        font-weight: 500;
        border-bottom: 1px solid color.$dark;
      }
    }
  }
}

.auth-form-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ffffffd5;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  @include mixins.no-select;
  &.shown {
    display: flex;
  }
  .inner-content {
    padding: 10px;
    text-align: center;
    .msg {
      max-width: 380px;
      margin: auto;
      font-size: 15px;
      font-weight: 500;
      margin-top: 12px;
    }
  }
}

.auth-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ffffffe1;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  @include mixins.no-select;
  border: 2px solid color.$dark;
  &.shown {
    display: flex;
  }
  .inner-content {
    padding: 10px;
    text-align: center;
    .msg {
      max-width: 380px;
      margin: auto;
      font-size: 15px;
      font-weight: 500;
      margin-top: 6px;
    }
  }
  &.success {
    border-color: color.$green;
    .inner-content {
      i {
        color: color.$green;
      }
    }
  }
  &.error {
    border-color: color.$red;
    .inner-content {
      color: color.$red;
    }
  }
}

.otp-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &.error {
    .otp-input {
      border-color: color.$red !important;
      color: color.$red !important;
    }
  }
  &.success {
    .otp-input {
      border-color: color.$green !important;
      color: color.$green !important;
    }
  }
  .otp-input {
    width: 60px;
    height: 45px;
    text-align: center;
    border: 1px solid color.$grey1;
    font-size: 16px;
    font-weight: 500;
    &.error {
      border-color: color.$red !important;
      color: color.$red !important;
    }
    &::placeholder {
      font-size: 20px;
      color: color.$dark;
    }
    &:focus {
      border-color: color.$dark;
      &::placeholder {
        opacity: 0.2;
      }
    }
  }
}

#resendCode {
  display: none;
}
