.banner-section {
  .item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    picture {
      display: block;
      height: auto;
      width: 100%;
      source,
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
