@use "../color";
@use "../mixins";
.cart-section {
  .cart-section-heading {
    position: relative;
    padding-left: 35px;
    .back_btn {
      position: absolute;
      left: 0;
      @include mixins.abs-y-center;
      display: inline-block;
      border: 0;
      background-color: transparent;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      span {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: color.$dark;
        -webkit-mask-image: url("../../images/icons/close.svg");
        mask-image: url("../../images/icons/close.svg");
        mask-size: 14px;
        mask-repeat: no-repeat;
        mask-position: center;
      }
    }
    .links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      li {
        font-size: 15px;
        a,
        button,
        span {
          position: relative;
          color: color.$dark;
          text-decoration: none;
          font-weight: 500;
          background-color: transparent;
          border: 0;
          &::after {
            display: none;
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 4px;
            -webkit-mask-image: url("../../images/icons/wavyLineBlack.svg");
            mask-image: url("../../images/icons/wavyLineBlack.svg");
            mask-position: center;
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: color.$dark;
          }
          &.active {
            &::after {
              display: block;
            }
          }
        }
        span {
          color: color.$dark2;
          opacity: 0.7;
          position: none;
        }
      }
    }
  }
  .cart-content {
    .hint {
      font-size: 14px;
      font-weight: 500;
      color: color.$dark;
      background-color: color.$yellow;
      padding: 8px 14px;
    }
    .cart-item {
      display: flex;
      gap: 15px;
      justify-content: space-between;
      padding: 15px 0;
      &:last-of-type {
        padding-bottom: 0;
      }
      @media screen and (max-width: 576px) {
        gap: 10px;
      }
      .wrap {
        display: flex;
        gap: 15px;
        @media screen and (max-width: 576px) {
          gap: 10px;
        }
        img {
          width: 70px;
          height: auto;
          @media screen and (max-width: 576px) {
            width: 60px;
            height: auto;
          }
        }
        .info {
          .title {
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 18px;
            font-size: 14px;
            font-weight: 500;
            @media screen and (max-width: 576px) {
              font-size: 13px;
              line-height: 15px;
            }
          }
          .size {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 18px;
            font-size: 14px;
            font-weight: 500;
            @media screen and (max-width: 576px) {
              line-height: 15px;
              font-size: 13px;
            }
          }
          .call-to-action-wrap {
            border: 1px solid color.$grey2;
            border-radius: 50px;
            margin-top: 20px;
            max-width: 110px;
            display: flex;
            justify-content: space-between;
            -webkit-user-select: none;
            user-select: none;
            button {
              background-color: transparent;
              border: 0;
              font-size: 14px;
              font-weight: 500;
              width: 35px;
              padding: 0;
              &:disabled {
                opacity: 0.7;
                pointer-events: none;
              }
              span {
                display: inline-block;
                width: 35px;
                height: 10px;
                background-color: color.$dark;
                mask-repeat: no-repeat;
                mask-size: 10px;
                mask-position: center;
              }
              &.decrement {
                span {
                  -webkit-mask-image: url(../../images/icons/minus.svg);
                  mask-image: url(../../images/icons/minus.svg);
                }
              }
              &.increment {
                span {
                  -webkit-mask-image: url(../../images/icons/plus.svg);
                  mask-image: url(../../images/icons/plus.svg);
                }
              }
            }
            .qty {
              position: relative;
              display: inline-block;
              border-right: 1px solid color.$grey2;
              border-left: 1px solid color.$grey2;
              text-align: center;
              font-size: 13px;
              font-weight: 500;
              width: 40px;
              .val {
                opacity: 1;
              }
              .css-spinner {
                opacity: 0;
                position: absolute;
                top: 16%;
                left: 30%;
              }
            }
            &.loading {
              .qty {
                .val {
                  opacity: 0;
                }
                .css-spinner {
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
      .meta {
        text-align: center;
        .price {
          margin-top: 0;
          margin-bottom: 15px;
          font-size: 14px;
          font-weight: 500;
          @media screen and (max-width: 576px) {
            font-size: 12px;
          }
          .original {
            text-decoration: line-through;
            color: color.$red;
          }
        }
        .remove_from_cart_btn {
          background-color: transparent;
          border: 0;
          padding: 0;
          width: 30px;
          height: 30px;
          .trash {
            display: inline-block;
            width: 30px;
            height: 30px;
            -webkit-mask-image: url("../../images/icons/trash.svg");
            mask-image: url("../../images/icons/trash.svg");
            background-color: color.$dark;
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: 20px;
            @media screen and (max-width: 576px) {
              mask-size: 18px;
            }
          }
          .css-spinner {
            display: none;
          }
          &.loading {
            .trash {
              display: none;
            }
            .css-spinner {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .order_form_container {
    .step-wrap {
      .step-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 25px;
      }
      .step-content {
        .option-item {
          display: flex;
          gap: 20px;
          border: 1px solid color.$grey2;
          padding: 20px;
          border-radius: 5px;
          align-items: flex-start;
          height: 100%;
          &:has(input:checked) {
            border-color: color.$dark;
            .main {
              color: color.$dark;
              font-weight: 600;
            }
          }
          &:has(input.error) {
            color: color.$red;
            border-color: color.$red;
          }
          &:has(input:disabled) {
            opacity: 0.7;
            pointer-events: none;
          }
          cursor: pointer;
          input[type="checkbox"],
          input[type="radio"] {
            position: relative;
            top: 0;
            border-color: color.$dark;
            width: 20px;
            height: 20px;
            &:checked {
              background-color: color.$dark;
            }
            &.error {
              border-color: color.$red;
            }
          }
          .main {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
          }
          .sub {
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            color: #909090;
          }
        }
        .call-to-action {
          button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 0;
            background-color: color.$dark;
            color: #ffffff;
            padding: 8px 15px;
            font-size: 14px;
            transition: all 0.4s ease-in-out;
            &:hover {
              background-color: lighten($color: color.$dark, $amount: 20%);
            }
            img {
              width: 15px;
              height: auto;
              -webkit-filter: invert(1);
              filter: invert(1);
            }
          }
        }
      }
      .discount-form-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        @media screen and (max-width: 575px) {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
        &.success {
          input,
          .discount-hint {
            color: color.$green;
            border-color: color.$green !important;
            button {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
              background-color: transparent;
              border: 0;
              padding: 0;
              color: color.$red;
            }
          }
        }
        &.error {
          input,
          .discount-hint {
            color: color.$red;
            border-color: color.$red !important;
          }
        }
        .wrap {
          width: 100%;
          max-width: 500px;
          input {
            width: 100%;
            border: 1px solid color.$grey2;
            padding: 10px 15px;
            font-size: 14px;
            &:focus {
              border-color: color.$dark;
            }
            &.error {
              color: color.$red;
              border-color: color.$red !important;
            }
          }
          .discount-hint {
            font-size: 12px;
            font-weight: 500;
            margin-top: 6px;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
          }
        }
        .discount-apply {
          -webkit-user-select: none;
          user-select: none;
          @media screen and (max-width: 575px) {
            width: 100%;
          }
          button {
            border: 0;
            background-color: color.$yellow;
            color: color.$dark;
            padding: 8px 25px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: all 0.4s ease-in-out;
            @media screen and (max-width: 575px) {
              width: 100%;
            }
            .css-spinner {
              display: none;
            }
            &.loading {
              opacity: 0.8;
              pointer-events: none;
              .css-spinner {
                display: inline-block;
              }
            }
            &:disabled {
              opacity: 0.8;
              pointer-events: none;
            }
          }
        }
      }
      .order-gist {
        .item {
          display: flex;
          justify-content: space-between;
          gap: 12px;
          align-items: center;
          font-weight: 500;
          margin-bottom: 10px;
          font-size: 15px;
          .value {
            margin-bottom: 0;
            margin-bottom: 0;
            &.discount {
              color: color.$green;
            }
          }
        }
      }
    }
  }
  .agreement-check {
    &:checked {
      border-color: color.$dark;
      background-color: color.$dark;
    }
    &.error {
      border-color: color.$red;
    }
  }
  .form-check {
    &:has(.error) {
      .form-check-label {
        color: color.$red;
        a {
          color: color.$red !important;
        }
      }
    }
  }
  label.error {
    color: color.$red !important;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
  }
  textarea {
    &.error {
      color: color.$red;
      border-color: color.$red;
    }
  }
}

.custom-modal {
  .modal-header {
    h5 {
      font-size: 15px;
      font-weight: 500;
    }
  }
  form {
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
    .form-label {
      font-weight: 500;
    }
    input,
    select {
      height: 45px;
      font-size: 14px;
      border-radius: 0;
      &:focus {
        border-color: color.$dark;
      }
      &.error {
        border-color: color.$red;
        color: color.$red;
      }
    }
    label.error {
      font-size: 13px;
      color: color.$red;
    }
    button {
      border: 0;
      background-color: color.$dark;
      color: #ffffff;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      transition: all 0.4s linear;
      &:hover {
        background-color: lighten($color: color.$dark, $amount: 25%);
      }
      .css-spinner {
        display: none;
      }
      &.loading {
        pointer-events: none;
        opacity: 0.7;
        .css-spinner {
          display: inline-block;
        }
      }
      &:disabled {
        pointer-events: none;
        opacity: 0.7;
      }
    }
  }
}

.order-summary-content {
  .hint {
    font-size: 14px;
    font-weight: 500;
    color: color.$dark;
    background-color: color.$yellow;
    padding: 8px 14px;
  }
  .part-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .order-summary-box {
    padding: 15px 20px;
    background-color: color.$grey5;
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid color.$grey2;
        &:last-child {
          border-bottom: 0;
        }
      }
      td {
        padding: 4px 0;
        .label {
          display: inline-block;
          font-size: 13px;
          line-height: 18px;
          @media screen and (max-width: 575px) {
            font-size: 12px;
          }
        }
        .value {
          display: inline-block;
          font-size: 13px;
          line-height: 18px;
          @media screen and (max-width: 575px) {
            font-size: 12px;
          }
        }
      }
    }
    &.cart-box {
      @media screen and (max-width: 575px) {
        padding: 10px 15px;
      }
      table {
        td {
          padding: 12px 0;
          &.img-cell {
            width: 80px;
            @media screen and (max-width: 575px) {
              width: 50px;
            }
            img {
              width: 50px;
              @media screen and (max-width: 575px) {
                width: 40px;
              }
            }
          }
          &.text-cell {
            @media screen and (max-width: 375px) {
              width: 160px;
            }
          }
        }
      }
    }
  }
}

.sticky-box {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  left: 0;
}

/* RTL */
/* ************************************** */

html {
  &:dir(rtl) {
    .cart-section {
      .cart-section-heading {
        padding-right: 35px;
        padding-left: 0;
        .back_btn {
          right: 0;
          left: auto;
        }
      }
    }
  }
}

.empty-cart-content {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px;
  img {
    width: 70px;
    height: auto;
  }
  .text {
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
