.single_instructor_section {
  .main__img {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #e8ecf2;
    border-radius: 10px;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      min-height: 400px;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .e3_accredit_badge {
      position: absolute;
      top: 25%;
      inset-inline-start: -4rem;
      width: 120px;
      height: auto;
      @media screen and (max-width: 1300px) {
        width: 100px;
        top: 20%;
        inset-inline-start: -2rem;
      }
      @media screen and (max-width: 991px) {
        width: 80px;
        inset-inline-start: -1.2rem;
      }
    }
  }
  .inner_content {
    .inst__name {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.5;
      margin: 0;
    }
    .summary {
      margin-top: 1rem;
      p {
        color: var(--link);
        margin: 0;
        max-width: 600px;
        font-size: 0.9rem;
        line-height: 1.7;
      }
    }
    .experience_list {
      font-size: 0.9rem;
      ul {
        li {
          max-width: 800px;
          span {
            position: relative;
            top: -10px;
            display: inline-block;
            line-height: 1.6;
            vertical-align: middle;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
