@use "../color";

.newsletter-section__style1 {
  position: relative;
  background-color: var(--blue);
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-mask: color.$mask;
  mask: color.$mask;
  text-align: center;
  color: #ffffff;
  .title {
    h4 {
      font-weight: 900;
      font-size: 46px;
      @media screen and (max-width: 576px) {
        font-size: 38px;
      }
    }
  }
  .desc {
    margin-top: 15px;
    p {
      max-width: 420px;
      margin: auto;
      font-size: 14px;
    }
  }
  .hint {
    margin-top: 12px;
    p {
      font-size: 11px;
      text-align: center;
      max-width: 500px;
      margin: auto;
      font-weight: 500;
    }
    a {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .newsletter-form_style1 {
    display: flex;
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    .newsletter-form_style1_input {
      flex-grow: 1;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      font-size: 13px;
      @media screen and (max-width: 500px) {
        max-width: 67%;
      }
      &::placeholder {
        color: #e0e0e0;
      }
    }
    button {
      position: relative;
      border: 0;
      background-color: transparent;
      font-size: 13px;
      color: #ffffff;
      padding: 10px 25px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1px;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        -webkit-mask: url("../../images/icons/wavyLineWhite.svg");
        mask: url("../../images/icons/wavyLineWhite.svg");
      }
    }
  }
}
