.product-filter-lg {
  padding: 1.2rem 1.4rem;
  border: 1px solid var(--filter_border);
  position: -webkit-sticky;
  position: sticky;
  top: -96%;
  left: 0;
  .heading {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--filter_border);
  }
  .content {
    .group {
      border-bottom: 1px dashed var(--filter_border);
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      .group-head {
        margin-bottom: 0.8rem;
        font-weight: 600;
      }
      .group-content {
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.4rem;
          margin-bottom: 1rem;
          &:last-of-type {
            margin-bottom: 0;
          }
          .form-check {
            input:checked {
              background-color: var(--primary);
              border-color: var(--primary);
            }
          }
          .count {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.mobile-filter-btn {
  position: absolute;
  top: -2.25rem;
  right: 1rem;
  background-color: var(--border);
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.2rem;
    font-weight: 600;
  }
  @media screen and (max-width: 991px) {
    display: inline-flex;
  }
}

html {
  &:dir(rtl) {
    .mobile-filter-btn {
      left: 1rem;
      right: auto;
    }
  }
}
