@use "../mixins";
.profile-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px 25px;
  flex-wrap: wrap;
  @media screen and (max-width: 1550px) {
    gap: 5px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }
  @media screen and (max-width: 991px) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .links-wrap {
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    @media screen and (max-width: 1550px) {
      padding-left: 15px;
    }
    &::-webkit-scrollbar {
      width: 2px;
      opacity: 0;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: fit-content;
      padding: 0;
      margin: 0;
      list-style: none;
      gap: 22px;
      @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: flex-start;
      }
      @media screen and (max-width: 1024px) {
        flex-wrap: nowrap;
      }
      button,
      a {
        display: inline-block;
        position: relative;
        background-color: transparent;
        border: 0;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;
        padding-bottom: 2px;
        -webkit-user-select: none;
        user-select: none;
        color: var(--dark);
        text-decoration: none;
        &::after {
          display: none;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-image: url("../../images/icons/wavyLineBlack.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:hover,
        &.active {
          &::after {
            display: block;
          }
        }
      }
    }
  }
}

.profile-settings-form {
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
  .form-label {
    font-weight: 500;
  }
  input,
  select {
    height: 45px;
    font-size: 14px;
    border-radius: 0;
    &:focus {
      border-color: var(--dark);
    }
    &.error {
      border-color: var(--red);
      color: var(--red);
    }
  }
  label.error {
    font-size: 13px;
    color: var(--red);
  }
  button {
    border: 0;
    background-color: var(--dark);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    transition: all 0.4s linear;
    &:hover {
      opacity: 0.8;
    }
    .css-spinner {
      display: none;
    }
    &.loading {
      pointer-events: none;
      opacity: 0.7;
      .css-spinner {
        display: inline-block;
      }
    }
    &:disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}

/* ********************************************************************** */
/* ********************************************************************** */

html {
  &:dir(rtl) {
    .products-filter-section {
      .links-wrap {
        @media screen and (max-width: 1550px) {
          padding-right: 15px;
          padding-left: 10px;
        }
        ul {
          button,
          a {
            &::after {
              right: 0;
              left: auto;
            }
          }
        }
      }
    }
  }
}
