.section_title_style1 {
  text-align: center;
  h3 {
    font-weight: 700;
  }
  p {
    color: var(--muted);
  }
}

.section_title_style2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  @media screen and (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    @media screen and (max-width: 575px) {
      font-size: 18px;
    }
  }
  .controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
    .display-group {
      padding: 0.4rem;
      border: 1px solid var(--border);
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        display: inline-block;
        background-color: transparent;
        border: 0;
        padding-bottom: 0.25rem;
        svg {
          display: inline-block;
          line-height: 0;
          vertical-align: middle;
          fill: var(--muted);
          transition: all 0.3s linear;
        }
        &.active {
          svg {
            fill: var(--primary);
          }
        }
        &:hover {
          svg {
            fill: var(--secondary);
          }
        }
      }
    }
    .select {
      select {
        border: 1px solid var(--border);
        padding: 0.65rem 2rem 0.65rem 0.6rem;
        font-size: 14px;
        border-radius: 0;
      }
    }
  }
}

html {
  &:dir(rtl) {
    .section_title_style2 {
      .controls {
        .select {
          select {
            padding: 0.65rem 0.6rem 0.65rem 2rem;
          }
        }
      }
    }
  }
}
