@use "../color";

.text-imaged-section_style1 {
  position: relative;
  background-color: color.$yellow;
  display: grid;
  grid-template-columns: 50% 50%;
  .text-col {
    padding: 50px 20px;
    display: flex;
    align-items: end;
    .title {
      font-weight: 900;
      font-size: 28px;
      margin-bottom: 10px;
    }
    .desc {
      max-width: 600px;
      margin: 0;
      font-size: 14px;
      line-height: 1.6;
      font-weight: 500;
    }
  }
  .image-col {
    position: relative;
    padding-top: 55%;
    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      source,
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
  @media screen and (max-width: 991px) {
    grid-template-columns: 100%;
    .text-col {
      order: 2;
      padding: 40px 20px;
    }
    .image-col {
      order: 1;
    }
  }
}
