.text_section {
  .h4_style1 {
    line-height: 44px;
    font-weight: 700;
    max-width: 300px;
    @media screen and (max-width: 575px) {
      line-height: 32px;
      font-size: 1.1em;
      max-width: fit-content;
    }
  }
}
