.accreditation_section {
  .logo {
    width: 200px;
    height: auto;
    border: 1px solid var(--greyLight4);
    border-radius: 5px;
    @media screen and (max-width: 991px) {
      width: 190px;
    }
  }
}

.accreditation_card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
  }
  img {
    width: 200px;
    height: auto;
    border: 1px solid var(--greyLight4);
    border-radius: 5px;
    @media screen and (max-width: 991px) {
      width: 190px;
    }
  }
  .text {
    .title {
      font-weight: 600;
      line-height: 1.5;
      font-size: 1.1rem;
      margin-bottom: 0;
    }
    .desc {
      font-size: 0.9rem;
      line-height: 2;
      margin-top: 0.5rem;
      margin-bottom: 0;
      color: var(--link);
    }
  }
  .cta {
    a,
    button {
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
  }
}
