.blog_card_style1 {
  position: relative;
  background-color: var(--white);
  padding: 12px;
  background-color: var(--white);
  box-shadow: 0 0 3px var(--border2);
  border-radius: 20px;
  @media screen and (max-width: 575px) {
    padding: 10px;
  }
  .content_wrap {
    .image {
      margin-bottom: 1.2rem;
      a {
        display: inline-block;
        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
          border: 1px solid var(--border);
        }
      }
    }
    .main {
      padding-right: 0.5em;
      padding-left: 0.5em;
      margin-bottom: 1rem;
      @media screen and (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
      }
      .publish_date {
        display: block;
        font-size: 0.8rem;
        color: var(--muted);
        margin-bottom: 0.4rem;
      }
      .title {
        a {
          display: inline-block;
          color: var(--dark);
          font-size: 0.8rem !important;
          line-height: 1.5;
          font-weight: 600;
          transition: all 0.3s linear;
          @media screen and (max-width: 575px) {
            font-size: 15px;
            line-height: 22px;
          }
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
    .stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.3em;
      flex-wrap: wrap;
      margin-bottom: 0.85rem;
      padding-right: 0.7em;
      padding-left: 0.7em;
      @media screen and (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @media screen and (max-width: 575px) {
          width: 30px;
          height: 30px;
        }
      }
      .instructor_info {
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        gap: 0.4em;
        h6 {
          font-size: 0.75em;
          font-weight: 600;
          margin-bottom: 0.2em;
        }
        .summary_info {
          margin: 0;
          font-size: 0.7em;
          color: var(--muted);
          @media screen and (max-width: 575px) {
            font-size: 0.65em;
          }
        }
      }
    }
  }
}
