.course_card_style1 {
  position: relative;
  background-color: var(--white);
  padding: 20px;
  padding-bottom: 4.2rem;
  background-color: var(--white);
  box-shadow: 0 0 3px var(--border2);
  border-radius: 20px;
  @media screen and (max-width: 575px) {
    padding: 10px;
    padding-bottom: 3.5rem;
  }
  .content_wrap {
    .image {
      margin-bottom: 1.2rem;
      a {
        display: inline-block;
        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }
    }
    .main {
      padding-right: 0.7em;
      padding-left: 0.7em;
      @media screen and (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
      }
      .title {
        a {
          display: inline-block;
          color: var(--dark);
          font-size: 0.8em;
          font-weight: 600;
          transition: all 0.3s linear;
          @media screen and (max-width: 575px) {
            font-size: 0.7em;
            line-height: 22px;
          }
          &:hover {
            color: var(--primary);
          }
        }
      }
      .short_desc {
        color: var(--muted);
        font-size: 0.8em;
        font-weight: 400;
        line-height: 22px;
        max-height: 44px;
        overflow: hidden;
        @media screen and (max-width: 575px) {
          font-size: 0.75em;
        }
      }
    }
    .stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.3em;
      flex-wrap: wrap;
      margin-bottom: 0.85rem;
      padding-right: 0.7em;
      padding-left: 0.7em;
      @media screen and (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @media screen and (max-width: 575px) {
          width: 30px;
          height: 30px;
        }
      }
      .instructor_info {
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        gap: 0.4em;
        h6 {
          font-size: 0.75em;
          font-weight: 600;
          margin-bottom: 0.2em;
        }
        .summary_info {
          margin: 0;
          font-size: 0.7em;
          color: var(--muted);
          @media screen and (max-width: 575px) {
            font-size: 0.65em;
          }
        }
      }
    }
    .meta {
      display: flex;
      justify-content: flex-start;
      gap: 0.5rem;
      padding: 0 0.85em;
      font-size: 0.75em;
      @media screen and (max-width: 575px) {
        font-size: 0.7em;
      }
      .list-inline-item {
        margin: 0;
      }
      img {
        width: 16px;
        height: auto;
        @media screen and (max-width: 575px) {
          width: 13px;
        }
      }
      i {
        font-size: 0.75em;
        color: var(--muted);
      }
      .item_label {
        @media screen and (max-width: 575px) {
          display: none;
        }
      }
    }
  }
  .call_to_action_wrap {
    position: absolute;
    bottom: 1rem;
    left: 20px;
    right: 20px;
    height: auto;
    @media screen and (max-width: 575px) {
      left: 8px;
      right: 8px;
    }
    button,
    a {
      font-size: 0.75em;
    }
  }
}

.course_card_style2 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  padding-inline-end: 2rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  &:last-of-type {
    margin-bottom: 0 !important;
  }
  .image {
    img {
      width: 100%;
      max-width: 110px;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border-radius: 8px;
    }
  }
  .text_wrap {
    flex-grow: 1;
    .title {
      margin-top: 0;
      margin-bottom: 0;
      a {
        color: #000000;
        font-weight: 600;
        font-size: 0.8rem;
        transition: all 0.3s linear;
        &:hover {
          color: var(--primary);
        }
      }
    }
    .price {
      margin-top: 0.35rem;
      margin-bottom: 0;
      font-size: 0.85rem;
      del {
        color: var(--red);
        font-size: 0.8rem;
      }
    }
  }
  .cta_btn {
    position: absolute;
    inset-inline-end: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 0.7rem;
  }
}
