.course_card_style1 {
  position: relative;
  background-color: var(--white);
  padding: 20px;
  padding-bottom: 4.2rem;
  background-color: var(--white);
  box-shadow: 0 0 3px var(--border2);
  border-radius: 20px;
  @media screen and (max-width: 575px) {
    padding: 10px;
    padding-bottom: 3.5rem;
  }
  .diploam_badge {
    position: absolute;
    top: 1em;
    inset-inline-end: 1em;
    background-color: var(--red);
    &.recorded {
      background-color: var(--yellow_main);
    }
    color: var(--white);
    display: inline-block;
    border-radius: 6px;
    font-size: 0.8em;
    padding: 0.2rem 0.9rem;
  }
  .content_wrap {
    .image {
      position: relative;
      margin-bottom: 1.2rem;
      a {
        display: inline-block;
        width: 100%;
        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }
    }
    .main {
      padding-right: 0.7em;
      padding-left: 0.7em;
      @media screen and (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
      }
      .title {
        a {
          display: inline-block;
          color: var(--dark);
          font-size: 0.8em;
          font-weight: 600;
          transition: all 0.3s linear;
          @media screen and (max-width: 575px) {
            font-size: 0.7em;
            line-height: 22px;
          }
          &:hover {
            color: var(--primary);
          }
        }
      }
      .short_desc {
        color: var(--muted);
        font-size: 0.8em;
        font-weight: 400;
        line-height: 22px;
        max-height: 44px;
        overflow: hidden;
        @media screen and (max-width: 575px) {
          font-size: 0.75em;
        }
      }
    }
    .stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.3em;
      flex-wrap: wrap;
      margin-bottom: 0.85rem;
      padding-right: 0.7em;
      padding-left: 0.7em;
      @media screen and (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @media screen and (max-width: 575px) {
          width: 30px;
          height: 30px;
        }
      }
      .instructor_info {
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        gap: 0.4em;
        h6 {
          font-size: 0.75em;
          font-weight: 600;
          margin-bottom: 0.2em;
        }
        .summary_info {
          margin: 0;
          font-size: 0.7em;
          color: var(--muted);
          @media screen and (max-width: 575px) {
            font-size: 0.65em;
          }
        }
      }
    }
    .meta {
      display: flex;
      justify-content: flex-start;
      gap: 0.5rem;
      padding: 0 0.85em;
      font-size: 0.75em;
      margin-bottom: 0;
      @media screen and (max-width: 575px) {
        font-size: 0.7em;
      }
      .list-inline-item {
        margin: 0;
      }
      img {
        width: 16px;
        height: auto;
        @media screen and (max-width: 575px) {
          width: 13px;
        }
      }
      i {
        font-size: 0.75em;
        color: var(--muted);
      }
      .item_label {
        @media screen and (max-width: 575px) {
          display: none;
        }
      }
    }
  }
  .call_to_action_wrap {
    position: absolute;
    bottom: 1rem;
    left: 20px;
    right: 20px;
    height: auto;
    @media screen and (max-width: 575px) {
      left: 8px;
      right: 8px;
    }
    button,
    a {
      font-size: 0.75em;
    }
  }
}

.course_card_style2 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  padding-inline-end: 2rem;
  border: 1px solid var(--border);
  border-radius: 15px;
  background-color: #ffffff;
  &:last-of-type {
    margin-bottom: 0 !important;
  }
  .image {
    img {
      width: 100%;
      max-width: 110px;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border-radius: 8px;
    }
  }
  .text_wrap {
    flex-grow: 1;
    .title {
      margin-top: 0;
      margin-bottom: 0;
      a {
        color: #000000;
        font-weight: 600;
        font-size: 0.8rem;
        transition: all 0.3s linear;
        &:hover {
          color: var(--primary);
        }
      }
    }
    .price {
      margin-top: 0.35rem;
      margin-bottom: 0;
      font-size: 0.85rem;
      del {
        color: var(--red);
        font-size: 0.8rem;
      }
    }
    .rating {
      margin-top: 0.4rem;
    }
  }
  .cta_btn {
    position: absolute;
    inset-inline-end: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 0.7rem;
  }
}

.course_card_style3 {
  position: relative;
  background-color: var(--white);
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0 0 3px var(--border2);
  border-radius: 20px;
  .content_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    .image {
      margin-bottom: 1.2rem;
      a {
        display: inline-block;
        img {
          width: 100%;
          height: auto;
          max-height: 320px;
          border-radius: 20px;
        }
      }
    }
    .info_wrap {
      flex-grow: 1;
      .main {
        padding-right: 0.7em;
        padding-left: 0.7em;
        @media screen and (max-width: 575px) {
          padding-right: 0;
          padding-left: 0;
        }
        .title {
          a {
            display: inline-block;
            color: var(--dark);
            font-size: 0.8em;
            font-weight: 600;
            transition: all 0.3s linear;
            @media screen and (max-width: 575px) {
              font-size: 0.7em;
              line-height: 22px;
            }
            &:hover {
              color: var(--primary);
            }
          }
        }
        .short_desc {
          color: var(--muted);
          font-size: 0.8em;
          font-weight: 400;
          line-height: 22px;
          max-height: 44px;
          overflow: hidden;
          @media screen and (max-width: 575px) {
            font-size: 0.75em;
          }
        }
      }
      .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3em;
        flex-wrap: wrap;
        margin-bottom: 0.85rem;
        padding-right: 0.7em;
        padding-left: 0.7em;
        @media screen and (max-width: 575px) {
          padding-right: 0;
          padding-left: 0;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          @media screen and (max-width: 575px) {
            width: 30px;
            height: 30px;
          }
        }
        .instructor_info {
          position: relative;
          display: inline-flex;
          justify-content: flex-start;
          gap: 0.4em;
          h6 {
            font-size: 0.75em;
            font-weight: 600;
            margin-bottom: 0.2em;
          }
          .summary_info {
            margin: 0;
            font-size: 0.7em;
            color: var(--muted);
            @media screen and (max-width: 575px) {
              font-size: 0.65em;
            }
          }
        }
      }
      .meta {
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
        padding: 0 0.85em;
        font-size: 0.75em;
        @media screen and (max-width: 575px) {
          font-size: 0.7em;
        }
        .list-inline-item {
          margin: 0;
        }
        img {
          width: 16px;
          height: auto;
          @media screen and (max-width: 575px) {
            width: 13px;
          }
        }
        i {
          font-size: 0.75em;
          color: var(--muted);
        }
        .item_label {
          @media screen and (max-width: 575px) {
            display: none;
          }
        }
      }
      .call_to_action_wrap {
        button,
        a {
          font-size: 0.75em;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .content_wrap {
      flex-direction: column;
      .image {
        width: 100%;
        a {
          width: 100%;
          img {
            border-radius: 8px;
          }
        }
      }
    }
  }
}

.course_card_style4 {
  position: relative;
  border: 1px solid var(--border);
  padding: 1rem;
  padding-inline-end: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  &.fav {
    .flaticon-heart {
      color: var(--red);
    }
  }
  .image {
    a {
      display: inline-block;
      img {
        width: 200px;
        height: auto;
        border-radius: 10px;
      }
    }
  }
  .dropdown {
    position: absolute;
    inset-inline-end: 1rem;
    top: 1rem;
    z-index: 10;
    .dropdown-btn {
      color: var(--primary);
    }
    .dropdown-menu {
      padding: 0;
    }
    li {
      &:not(:last-child) {
        border-bottom: 1px solid var(--border);
      }
    }
    .dropdown-item {
      font-size: 0.75rem;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .content {
    font-size: 0.8rem;
    flex-grow: 1;
    .type {
      margin-bottom: 0.5rem;
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .title {
      h4 {
        font-size: 0.925rem;
        a {
          display: inline-block;
          line-height: 1.4;
          color: var(--secondary);
          font-weight: 600;
        }
      }
    }
    .inst {
      margin-bottom: 1rem;
      color: var(--muted);
      font-size: 0.8rem;
      a {
        display: inline-block;
        color: var(--muted);
      }
    }
    .progress-container {
      display: flex;
      align-items: center;
      gap: 0.825rem;
    }
    .progress {
      flex-grow: 1;
      height: 10px;
      .progress-bar {
        background-color: var(--primary);
      }
    }
  }
}

.course_card_style5 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid var(--border);
  padding: 1rem 1.2rem;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  .main_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    max-width: 60%;
    .num {
      margin: 0;
      font-weight: 600;
    }
    .image {
      img {
        width: 80px;
        height: auto;
      }
    }
    .title {
      font-size: 0.9rem;
      margin-bottom: 0;
      line-height: 1.5;
    }
    .desc {
      font-size: 0.75rem;
      margin-top: 0.3rem;
      margin-bottom: 0;
      color: var(--muted);
    }
  }
  .meta_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
    flex: 0 0 auto;
    .views,
    .type {
      font-size: 0.85rem;
      p {
        margin: 0;
      }
    }
    .type {
      color: var(--primary);
    }
  }
  &:has(.stretched-link:hover) {
    background-color: var(--secondary);
    color: var(--white);
    .desc {
      color: var(--white);
    }
  }
}

@media screen and (max-width: 991px) {
  .course_card_style5 {
    gap: 1rem;
    .main_wrapper {
      max-width: 100%;
    }
    .meta_wrapper {
      width: 100%;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 575px) {
  .course_card_style4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding-inline-end: 1rem;
    .dropdown {
      inset-inline-end: 1.5rem;
      top: 1.5rem;
      .dropdown-btn {
        display: inline-block;
        background-color: #ffffff;
        color: var(--primary);
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
      }
      .dropdown-menu {
        padding: 0;
      }
      li {
        &:not(:last-child) {
          border-bottom: 1px solid var(--border);
        }
      }
      .dropdown-item {
        font-size: 0.75rem;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
    .image {
      width: 100%;
      a {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .content {
      width: 100%;
    }
  }
}
