.product_card_style1 {
  position: relative;
  .image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content {
    margin-top: 0.8rem;
    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
      a {
        color: var(--primary);
        font-weight: 500;
      }
    }
    .price {
      color: var(--primary);
      font-weight: 700;
      font-size: 0.9rem;
      margin-bottom: 0;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
    }
  }
  .fav-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    &::after {
      content: "\f16c";
      font-family: "flaticon_oxford";
    }
  }
  &.fav {
    .fav-btn {
      &::after {
        content: "\f155";
      }
    }
  }
}

html {
  &:dir(rtl) {
    .product_card_style1 {
      .fav-btn {
        right: auto;
        left: 1rem;
      }
    }
  }
}
