.product_card_style1 {
  position: relative;
  .image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content {
    margin-top: 0.8rem;
    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
      a {
        color: var(--primary);
        font-weight: 500;
      }
    }
    .price {
      color: var(--primary);
      font-weight: 700;
      font-size: 0.9rem;
      margin-bottom: 0;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
    }
  }
  .fav-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    z-index: 10;
    &::after {
      content: "\f16c";
      font-family: "flaticon_oxford";
    }
  }
  &.fav {
    .fav-btn {
      &::after {
        content: "\f155";
      }
    }
  }
}

.product_card_style2 {
  position: relative;
  .product-inline-slider {
    position: relative;
    .swiper-slide {
      height: auto;
      align-self: stretch;
    }
    .video {
      position: relative;
      height: 100%;
      overflow: hidden;
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 250px;
      }
      .inline-video-play-btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        @include mixins.abs-center;
        z-index: 11;
        background-color: #00000076;
        color: #ffffff;
        border: 0;
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%;
        font-size: 1rem;
        line-height: 0;
        @media screen and (max-width: 450px) {
          width: 30px;
          height: 30px;
          font-size: 0.9rem;
        }
      }
      &:has(video.paused) {
        .inline-video-play-btn {
          display: inline-block;
        }
      }
    }
    &::after {
      content: "";
      z-index: 21;
      background-color: #000000;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
    }
    .action-overlay {
      position: absolute;
      bottom: -101%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 22;
      width: 100%;
      height: auto;
      max-height: 100%;
      overflow: auto;
      background-color: var(--white);
      padding: 1rem;
      transition: all 0.4s linear;
      .group {
        img {
          width: 35px;
          height: auto;
        }
        .form-check-label {
          position: relative;
          border: 1px solid transparent;
          &:has(:checked) {
            border-color: var(--primary);
          }
        }
        .form-check-input {
          margin-top: 0;
        }
        .attr {
          display: inline-block;
          font-size: 0.9rem;
          font-weight: 500;
          background-color: var(--border);
          padding: 5px 10px;
        }
      }
      .action {
        .add-cart-action {
          width: 100%;
          .icon {
            display: inline-block;
          }
          .css-spinner {
            display: none;
          }
          &.loading {
            pointer-events: none;
            opacity: 0.7;
            .css-spinner {
              display: inline-block;
            }
            .icon {
              display: none;
            }
          }
        }
      }
      .overlay-dismiss {
        position: absolute;
        z-index: 22;
        right: 0.8rem;
        top: 0.6rem;
        background-color: transparent;
        border: 0;
        padding: 0;
      }
    }
    &.overlayed {
      &::after {
        display: block;
      }
      .action-overlay {
        bottom: 0;
      }
    }
  }
  .image {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      min-height: 250px;
    }
  }
  .content {
    margin-top: 0.8rem;
    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
      a {
        color: var(--primary);
        font-weight: 500;
      }
    }
    .price {
      color: var(--primary);
      font-weight: 700;
      font-size: 0.9rem;
      margin-bottom: 0;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
      s {
        color: var(--red);
        font-size: 0.8rem;
      }
    }
  }
  .fav-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    z-index: 10;
    &::after {
      content: "\f16c";
      font-family: "flaticon_oxford";
    }
  }
  &.fav {
    .fav-btn {
      &::after {
        content: "\f155";
      }
    }
  }
  .add-cart-btn {
    position: absolute;
    z-index: 20;
    bottom: 0.8rem;
    left: 0.8rem;
    background-color: var(--white);
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 450px) {
      width: 24px;
      height: 24px;
    }
    .css-spinner {
      display: none;
    }
    .icon {
      display: inline-block;
      font-size: 0.9rem;
    }
    &.loading {
      pointer-events: none;
      opacity: 0.7;
      .css-spinner {
        display: inline-block;
      }
      .icon {
        display: none;
      }
    }
  }
}

html {
  &:dir(rtl) {
    .product_card_style1 {
      .fav-btn {
        right: auto;
        left: 1rem;
      }
    }
    .product_card_style2 {
      .fav-btn {
        right: auto;
        left: 1rem;
      }
      .add-cart-btn {
        right: 0.8rem;
        left: auto;
      }
      .action-overlay {
        .overlay-dismiss {
          left: 0.8rem;
          right: auto;
        }
      }
    }
  }
}
