@use "../mixins";

.template_card_style1 {
  position: relative;
  padding: 1.5rem;
  padding-bottom: 5rem;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 10px #c0c4cb76;
  .content {
    text-align: center;
    .image {
      margin-bottom: 1.2rem;
      img {
        width: 100%;
        height: auto;
        border-radius: 30px;
      }
    }
    .text {
      h5 {
        font-size: 0.85rem;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }
  }
  .call_to_action {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    a,
    button {
      width: 100%;
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}

.template_col {
  flex-basis: 20%;
  flex-grow: unset;
  @media screen and (max-width: 1199px) {
    flex-basis: 25%;
  }
  @media screen and (max-width: 991px) {
    flex-basis: calc(100% / 3);
  }
  @media screen and (max-width: 575px) {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 575px) {
  .template_card_style1 {
    padding: 1rem 1rem 4rem 1rem;
    .content {
      .image {
        margin-bottom: 1rem;
      }
      .text {
        h5 {
          font-size: 0.75rem;
        }
      }
    }
    .call_to_action {
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      a,
      button {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 0.8rem;
      }
    }
  }
}
