.testimonial_slider_style1 {
  &.swiper {
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
    height: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    bottom: 25px;
    top: auto;
    border: 1px solid var(--secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    &::after {
      font-family: "flaticon_oxford";
      font-size: 1.4em;
      color: var(--secondary);
    }
  }
  .swiper-button-next {
    left: 80px;
    right: auto;
    &::after {
      content: "\f121";
    }
  }
  .swiper-button-prev {
    left: 30px;
    right: auto;
    &::after {
      content: "\f122";
    }
  }
}

.testimonial_card_style1 {
  position: relative;
  background-color: var(--white);
  padding: 1.5em;
  .description {
    font-size: 0.8em;
    line-height: 1.8;
    margin-bottom: 1.2rem;
  }
  .meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    .reviewer {
      margin-bottom: 0.8rem;
    }
    .job_title {
      font-size: 0.75em;
      color: var(--muted);
      strong {
        display: block;
        margin-bottom: 0.4em;
        color: var(--secondary);
      }
    }
  }
}

.testimonial_card_style2 {
  position: relative;
  color: #ffffff;
  .text {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.9;
    margin-bottom: 1.5rem;
    max-width: 450px;
    @media screen and (max-width: 575px) {
      font-size: 1rem;
    }
  }
  .meta {
    display: flex;
    gap: 0.75rem;
    img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    h6 {
      font-size: 0.9em;
      margin-bottom: 0.4rem;
    }
    p {
      font-size: 0.76em;
      color: var(--white_50);
      margin-bottom: 0.4rem;
    }
    .icons {
      i {
        color: var(--star_color);
      }
    }
  }
}

.testimonial_card_style3 {
  position: relative;
  background-color: var(--greyLight2);
  border-radius: 8px;
  padding: 1.5rem;
  .text {
    font-size: 0.85rem;
    line-height: 1.8;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    margin-bottom: 1.5rem;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    h6 {
      font-weight: 600;
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
      line-height: 1.5;
    }
    span {
      color: var(--muted);
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .testimonial_card_style3 {
    padding: 1rem;
    .text {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
    .avatar {
      gap: 0.5rem;
      img {
        width: 40px;
        height: 40px;
      }
      h6 {
        font-size: 0.75rem;
      }
      span {
        font-size: 0.75rem;
      }
    }
  }
}
