:root {
  --primary: #000000;
  --secondary: #202430;
  --border: #ebebeb;
  --border2: #c1c1c1;
  --link: #727272;
  --muted: #717171;
  --footer_bg: #202430;
  --dark: #000000;
  --white: #ffffff;
  --red: #ff3232;
  --star_color: #ffc62a;
  --font: "Poppins", sans-serif;
}
