:root {
  --primary: #00b34f;
  --primaryLight: #02e665;
  --primaryLight2: #e6f8ee;
  --secondary: #144394;
  --secondaryLight: #1152c3;
  --yellow: #fab437;
  --light: #f6f9ff;
  --greyLight: #ecf1fc;
  --greyLight2: #f2f4f7;
  --greyLight3: #f9f5ff;
  --border: #ebebeb;
  --border2: #c1c1c1;
  --link: #5f6d85;
  --inputColor: #8f99ab;
  --muted: #79797b;
  --dark: #000000;
  --white: #ffffff;
  --white_50: #e9e9e9;
  --red: #ff3232;
  --star_color: #fab437;
  --footerbg: #355389;
  --white: #ffffff;
  --font: "Poppins", sans-serif;
}
