:root {
  --primary: #000000;
  --primaryLight: #2f2e2e;
  --secondary: #202430;
  --alt_color: #d09224;
  --border: #ebebeb;
  --border2: #c1c1c1;
  --filter_border: #d5dae1;
  --link: #727272;
  --muted: #717171;
  --footer_bg: #202430;
  --footer_link: #d6ddeb;
  --top_header_bg: #efefef;
  --bottom_footer_bg: #f8f8f8;
  --social_link_bg: #e5e7e8;
  --slider_bullet_color: #ffffff;
  --white: #ffffff;
  --red: #ff3232;
  --star_color: #ffc62a;
  --font: "Poppins", sans-serif;
}
