:root {
  --dark: #000000;
  --dark2: #0d0d0d;
  --grey1: #c1c1c1;
  --grey2: #d9d9d9;
  --grey3: #bcc5dc;
  --grey4: #e4e4e4;
  --grey5: #f0f0f0;
  --pink: #fe96b5;
  --yellow: #fae800;
  --blue: #0066ee;
  --green: #00b852;
  --subhead: rgb(0, 0, 0, 0.6);
  --red: #ff410d;
  --font: "Poppins", sans-serif;
}
