@mixin abs-x-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin abs-y-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin abs-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin abs-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin mirror-x {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@mixin zoom-reset {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@mixin zoom-sm {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@mixin no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin hidden-scrollbar {
  scrollbar-width: 0;
  scrollbar-color: transparent;
  &::-webkit-scrollbar {
    scrollbar-width: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@mixin ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
