@mixin abs-x-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin abs-y-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin abs-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin mirror-x {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
