@use "mixins";
@use "color";
@import "layout.scss";
@import "footer.scss";
@import "utility.scss";
@import "./buttons.scss";
@import "./sections/auth.scss";
@import "./sections/banner.scss";
@import "./sections/text.scss";
@import "./sections/inner-page-banner.scss";
@import "./cards/category.scss";
@import "./cards/course.scss";
@import "./cards/story.scss";
@import "./component/iti.scss";
@import "./component/pagination.scss";
@import "./cards/feature.scss";
@import "./cards/partner.scss";
@import "./cards/stats.scss";
@import "./cards/testimonial.scss";
@import "./cards/faq.scss";
@import "./cards/lecture-card.scss";
@import "./cards/courses-filter.scss";
@import "./cards/template.scss";
@import "./cards/blog.scss";
@import "./cards/book.scss";
@import "./html.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  @include mixins.no-select;
  &:has(.blog__page) {
    .mobile_header {
      background-color: var(--secondary);
      box-shadow: none;
      top: -1px;
      a.logo {
        display: inline-block;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        background-color: var(--white);
        border-radius: 10px;
      }
      .search_wrapper {
        button {
          color: var(--white);
        }
      }
    }
  }
}
