@use "mixins";
@use "color";
@import "layout.scss";
@import "footer.scss";
@import "utility.scss";
@import "./buttons.scss";
@import "./sections/banner.scss";
@import "./sections/text.scss";
@import "./cards/category.scss";
@import "./cards/course.scss";
@import "./cards/story.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  @include mixins.no-select;
}
