button {
  .css-spinner {
    display: none;
  }
  &.loading {
    pointer-events: none;
    opacity: 0.75;
    .icon {
      display: none;
    }
    .css-spinner {
      display: inline-block;
    }
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.btn-primary {
  display: inline-block;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
  &.rounded {
    border-radius: 50px !important;
  }
  &.lg {
    padding: 1em 1.5em;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: var(--primaryLight);
    border-color: var(--primaryLight);
  }
  &.btn-primary-outlined {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--white);
    }
  }
}

.btn-secondary {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
  &.rounded {
    border-radius: 50px !important;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: var(--secondaryLight);
    border-color: var(--secondaryLight);
  }
  &.btn-secondary-outlined {
    background-color: transparent;
    color: var(--secondary);
    border-color: var(--secondary);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--secondaryLight);
      border-color: var(--secondaryLight);
      color: var(--white);
    }
  }
}

.btn-white {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
  &.rounded {
    border-radius: 50px !important;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: #ececec;
    border-color: #ececec;
  }
  &.btn-white-outlined {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #000000;
    }
  }
}

.btn-muted {
  border: 1px solid var(--border2);
  background-color: transparent;
  color: var(--dark);
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
  &.rounded {
    border-radius: 50px !important;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: var(--light);
  }
}

.btn-light {
  border: none;
  background-color: #f2f4f7;
  color: #000000;
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
  &.rounded {
    border-radius: 50px !important;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: #e8e8e8;
  }
}
