.primary-btn {
  display: inline-block;
  border: 1px solid var(--primary);
  box-shadow: none;
  outline: none;
  background-color: var(--primary);
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.1s linear;
  &:hover {
    background-color: var(--primaryLight);
    color: var(--white);
  }
  .css-spinner {
    display: none;
  }
  &.loading {
    opacity: 0.75;
    pointer-events: none;
    .css-spinner {
      display: inline-block;
    }
  }
}

.secondary-btn {
  display: inline-block;
  border: 1px solid var(--border2);
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: var(--secondary);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.1s linear;
  &:hover {
    background-color: var(--border);
    color: var(--primary);
  }
  .icon {
    display: inline-block;
  }
  .css-spinner {
    display: none;
  }
  &.loading {
    pointer-events: none;
    opacity: 0.7;
    .icon {
      display: none;
    }
    .css-spinner {
      display: inline-block;
    }
  }
}

.alt-btn-outline {
  display: inline-block;
  border: 1px solid var(--alt_color);
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: var(--alt_color);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.1s linear;
  &:hover {
    background-color: var(--alt_color);
    color: var(--white);
  }
  .icon {
    display: inline-block;
  }
  .css-spinner {
    display: none;
  }
  &.loading {
    pointer-events: none;
    opacity: 0.7;
    .icon {
      display: none;
    }
    .css-spinner {
      display: inline-block;
    }
  }
}

.text-fav-btn {
  position: relative;
  border: 0;
  background-color: transparent;
  padding-left: 20px;
  color: var(--link);
  &::after {
    position: absolute;
    left: 0;
    content: "\f16c";
    font-family: "flaticon_oxford";
  }
  &.fav {
    color: var(--primary);
    &::after {
      content: "\f155";
    }
  }
}

.two-btn-wrapper {
  display: flex;
  gap: 0.8rem;
  button,
  a {
    display: inline-block;
    width: 50%;
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
    button,
    a {
      width: 100%;
    }
  }
}

html {
  &:dir(rtl) {
    .text-fav-btn {
      padding-right: 20px;
      padding-left: 0;
      &::after {
        right: 0;
        left: auto;
      }
    }
  }
}
