@use "./mixins";
@use "./color";

body {
  &:has(.top-header.shown) {
    .main-header,
    .mobile-header {
      top: 40px;
    }
  }
}

.top-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: color.$dark2;
  color: #ffffff;
  justify-content: space-between;
  display: none;
  z-index: 100;
  &.shown {
    display: flex;
  }
  .text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media screen and (max-width: 500px) {
      font-size: 13px;
    }
  }
  button {
    width: 45px;
    border: 0;
    background-color: color.$dark;
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
  }
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  transition: all 0.4s ease-in-out;
  .start-part {
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: color.$grey2;
    padding-left: 20px;
    padding-right: 40px;
    max-width: 1200px;
    transition: all 0.5s ease-in-out;
    &.collapsed {
      max-width: 65px;
    }
    .brand {
      width: 25px;
      height: auto;
    }
    .nav-links {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      .nav-item {
        position: relative;
        .nav-link {
          position: relative;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          color: color.$dark;
          padding: 0;
          white-space: nowrap;
          padding: 12px 20px;
          &::after {
            content: "";
            display: none;
            position: absolute;
            bottom: 10px;
            @include mixins.abs-x-center;
            width: calc(100% - 40px);
            height: 3px;
            background-image: url("../images/icons/wavyLineBlack.svg");
            background-size: cover;
          }
          &:hover {
            &::after {
              display: block;
            }
          }
        }
        &:first-child {
          .nav-link {
            padding-left: 0;
            &::after {
              left: 0;
              -webkit-transform: none;
              transform: none;
              width: calc(100% - 20px);
            }
          }
        }
        .start_header_submenu {
          position: fixed;
          top: 100%;
          left: 0;
          max-height: calc(100vh - 150px);
          background: color.$grey2;
          z-index: 4;
          overflow: auto;
          display: none;
          &.shown {
            display: block;
            width: 750px;
          }
          .pink-badge {
            padding: 12px 12px;
            span {
              position: relative;
              background-color: color.$pink;
              padding: 8px 18px;
              border-radius: 50px;
              font-size: 13px;
              font-weight: 600;
              &::after {
                content: "";
                position: absolute;
                top: -10px;
                left: -8px;
                -webkit-mask: url("../images/icons/spike.svg");
                mask: url("../images/icons/spike.svg");
                background-color: color.$pink;
                background-size: 10px;
                width: 40px;
                height: 10px;
              }
            }
          }
          .inner-content {
            padding: 20px 10px;
            .head {
              font-size: 11px;
              color: #909090;
              margin-top: 0;
              margin-bottom: 10px;
              font-weight: 500;
            }
            .submenu-list {
              list-style: none;
              padding: 0;
              margin: 0;
              .submenu-list-item {
                position: relative;
                font-size: 13px;
                padding-top: 5px;
                padding-bottom: 5px;
                a {
                  color: color.$dark;
                  font-weight: 500;
                  text-decoration: none;
                }
                &.active {
                  background-color: color.$blue;
                  padding-left: 30px;
                  padding-right: 10px;
                  margin-bottom: 5px;
                  font-size: 12px;
                  a {
                    color: #ffffff;
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    left: 10px;
                    @include mixins.abs-y-center;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    animation: fadeInOut 1s alternate infinite;
                  }
                }
              }
            }
          }
        }
      }
    }
    &:has(.start_header_submenu.shown) {
      width: 750px;
    }
  }
  .end-part {
    .search-form {
      position: relative;
      .input-group {
        display: flex;
        position: relative;
        padding-right: 90px;
        .wrap {
          position: relative;
          input {
            outline: none;
            box-shadow: none;
            border: 1px solid color.$grey2;
            height: 45px;
            background: linear-gradient(0deg, #d9d9d966, #d9d9d966), #fff9;
            backdrop-filter: blur(0.75rem);
            font-size: 14px;
            padding: 10px 35px 10px 15px;
            width: 200px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            transition: all 0.5s ease-in-out;
            &.collapsed {
              width: calc(100vw - 210px);
            }
            &:focus {
              background-color: #ffffff;
            }
            &::placeholder {
              font-weight: 500;
            }
          }
          .icon {
            position: absolute;
            font-size: 14px;
            right: 12px;
            @include mixins.abs-y-center;
            z-index: 2;
          }
          .close-btn {
            opacity: 0;
            position: absolute;
            font-size: 10px;
            right: 12px;
            @include mixins.abs-y-center;
            z-index: 3;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: transparent;
          }
        }
        &:has(input:focus) {
          .icon {
            display: none;
          }
          .close-btn {
            opacity: 1;
          }
        }
      }
      .cart_page_btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: color.$grey2;
        display: flex;
        border: 0;
        span {
          display: inline-block;
          background-color: color.$dark;
          -webkit-mask: url("../images/icons/cart.svg") no-repeat center / 35%;
          mask: url("../images/icons/cart.svg") no-repeat center / 35%;
          width: 2.8rem;
          height: 100%;
        }
        .cart__count {
          mask: none;
          background-color: transparent;
          text-align: center;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: color.$green;
          color: color.$dark;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}
.mobile-header {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 12px;
  z-index: 300;
  transition: all 0.4s ease-in-out;
  .inner-content {
    position: relative;
    background-color: color.$grey2;
    border-radius: 3px;
    .mobile-header-toggler {
      border: 0;
      background-color: transparent;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
      span {
        background-color: #000000;
        display: inline-block;
        height: 2rem;
        width: 1.5rem;
        -webkit-mask: url("../images/icons/menu.svg") no-repeat center / contain;
        mask: url("../images/icons/menu.svg") no-repeat center / contain;
      }
    }
    &:has(.mobile-header-menu.shown) {
      .mobile-header-toggler {
        span {
          -webkit-mask: url("../images/icons/close.svg") no-repeat center / 50%;
          mask: url("../images/icons/close.svg") no-repeat center / 50%;
        }
      }
    }
    .brand {
      width: 26px;
      height: auto;
    }
    .mobile-header-menu {
      position: absolute;
      left: 0;
      top: 95%;
      width: 100%;
      background-color: color.$grey2;
      display: none;
      &.shown {
        display: block;
      }
      .pink-badge {
        padding: 12px 12px;
        display: inline-block;
        span {
          position: relative;
          background-color: color.$pink;
          padding: 8px 18px;
          border-radius: 50px;
          font-size: 13px;
          font-weight: 600;
          &::after {
            content: "";
            position: absolute;
            top: -10px;
            left: 36%;
            -webkit-mask: url("../images/icons/spike.svg");
            mask: url("../images/icons/spike.svg");
            background-color: color.$pink;
            background-size: 10px;
            width: 40px;
            height: 10px;
          }
        }
      }
      .scrollable-content {
        position: relative;
        height: calc(100vh - 182px);
        overflow-y: auto;
        overflow-x: hidden;
        .mobile-search-form {
          position: relative;
          margin-top: 10px;
          input {
            border: 0;
            width: 100%;
            padding: 14px;
            font-size: 14px;
            background: linear-gradient(0deg, #d9d9d966, #d9d9d966), #fff9;
            -webkit-backdrop-filter: blur(0.75rem);
            backdrop-filter: blur(0.75rem);
            -webkit-background-blend-mode: lighten;
            background-blend-mode: lighten;
            padding-right: 38px;
            &:focus {
              background: #ffffff;
            }
          }
          &::after {
            content: "";
            position: absolute;
            right: 10px;
            @include mixins.abs-y-center;
            background-image: url("../images/icons/search.svg");
            width: 25px;
            height: 25px;
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: center;
          }
          .clear-search-btn {
            position: absolute;
            display: none;
            right: 10px;
            @include mixins.abs-y-center;
            width: 25px;
            height: 25px;
            background-color: transparent;
            background-color: transparent;
            border: 0;
            font-size: 12px;
          }
          &:has(input.hasValue) {
            &::after {
              display: none;
            }
            .clear-search-btn {
              display: block;
            }
          }
        }
        .mobile-header-links {
          position: relative;
          list-style: none;
          padding: 0;
          margin: 0;
          .item {
            .link {
              display: flex;
              padding: 15px;
              color: color.$dark;
              text-decoration: none;
              font-size: 15px;
              font-weight: 500;
              justify-content: space-between;
              gap: 5px;
              align-items: center;
              border-bottom: 1px solid color.$grey1;
              i {
                font-size: 12px;
                line-height: 0;
              }
            }
          }
        }
        .mobile-header-submenu {
          position: absolute;
          background-color: color.$grey2;
          width: 100%;
          top: 0;
          right: -100%;
          height: calc(100vh - 240px);
          overflow: auto;
          z-index: 200;
          padding-bottom: 30px;
          transition: all 0.4s ease-out;
          &.shown {
            right: 0;
          }
          .back-icon {
            display: block;
            padding: 20px 20px;
            cursor: pointer;
            i {
              font-size: 18px;
              font-weight: 700;
            }
          }
          .title {
            padding: 0 20px;
            font-weight: 700;
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 20px;
          }
          .group {
            margin-bottom: 35px;
            .subhead {
              font-size: 12px;
              color: #747474;
              padding: 0 20px 0 20px;
            }
            .content {
              a {
                display: block;
                color: color.$dark;
                text-decoration: none;
                font-size: 15px;
                font-weight: 500;
                padding: 15px 20px;
                border-bottom: 1px solid color.$grey1;
                &:first-child {
                  padding-top: 0;
                }
              }
            }
            &:last-child {
              margin-bottom: 0;
              a {
                &:last-child {
                  border-bottom: 0;
                }
              }
            }
          }
        }
        &:has(.mobile-header-submenu.shown) {
          overflow: hidden;
        }
      }
    }
  }
}
.typeahead-container {
  position: absolute;
  width: 100%;
  top: 110%;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 400px;
  overflow: auto;
  display: none;
  z-index: 100;
  &.shown {
    display: block;
  }
  .show-all-item {
    text-align: center;
    background-color: color.$green;
    font-weight: 500;
    border-bottom: 1px solid color.$grey1;
    a {
      display: flex;
      justify-content: center;
      color: color.$dark;
      text-decoration: none;
      padding: 8px 14px;
      font-size: 15px;
    }
  }
  &:has(.item:hover) {
    .show-all-item {
      background-color: #ffffff;
    }
  }
  .item {
    border-bottom: 1px solid color.$grey2;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-color: color.$green;
    }
    &:last-child {
      border-bottom: 0;
    }
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      color: color.$dark;
      text-decoration: none;
      padding: 6px 14px;
      font-size: 15px;
      font-weight: 500;
      img {
        width: 30px;
        height: auto;
      }
    }
  }
}
.submenu-newsletter {
  padding: 30px 20px;
  background-color: color.$pink;
  -webkit-mask: color.$mask;
  mask: color.$mask;
  .head {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .text {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 0;
  }
  form {
    display: flex;
    input {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #000000;
      padding: 5px 0;
      font-size: 13px;
      flex-grow: 1;
      &::placeholder {
        color: color.$dark2;
      }
    }
    button {
      position: relative;
      background-color: transparent;
      border: 0;
      font-size: 13px;
      padding: 0 15px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000000;
        -webkit-mask: url("../images/icons/wavyLineBlack.svg");
        mask: url("../images/icons/wavyLineBlack.svg");
      }
    }
  }
}
