@use "./mixins";
@use "./color";

.top-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 40px;
  background-color: color.$dark2;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  .text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
  }
  button {
    width: 45px;
    border: 0;
    background-color: color.$dark;
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
  }
}
.main-header {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  .start-part {
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: color.$grey2;
    padding: 10px 40px 10px 20px;
    overflow: hidden;
    max-width: 1200px;
    transition: all 0.5s ease-in-out;
    &.collapsed {
      max-width: 65px;
    }
    .brand {
      width: 25px;
      height: auto;
    }
    .nav-links {
      display: flex;
      gap: 40px;
      list-style: none;
      padding: 0;
      margin: 0;
      .nav-item {
        .nav-link {
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          color: color.$dark;
          padding: 0;
          white-space: nowrap;
        }
      }
    }
  }
  .end-part {
    .search-form {
      position: relative;
      .input-group {
        display: flex;
        position: relative;
        padding-right: 45px;
        .wrap {
          position: relative;
          input {
            outline: none;
            box-shadow: none;
            border: 0;
            height: 43px;
            background-color: color.$grey3;
            font-size: 14px;
            padding: 10px 35px 10px 15px;
            width: 200px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            transition: all 0.5s ease-in-out;
            &.collapsed {
              width: calc(100vw - 150px);
            }
            &:focus {
              background-color: #ffffff;
            }
            &::placeholder {
              font-weight: 500;
            }
          }
          .icon {
            position: absolute;
            font-size: 14px;
            right: 12px;
            @include mixins.abs-y-center;
            z-index: 2;
          }
          .close-btn {
            opacity: 0;
            position: absolute;
            font-size: 10px;
            right: 12px;
            @include mixins.abs-y-center;
            z-index: 3;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: transparent;
          }
        }
        &:has(input:focus) {
          .icon {
            display: none;
          }
          .close-btn {
            opacity: 1;
          }
        }
        .typeahead-container {
          position: absolute;
          width: 100%;
          top: 110%;
          background-color: #ffffff;
          padding: 0;
          margin: 0;
          list-style: none;
          max-height: 400px;
          overflow: auto;
          display: none;
          &.shown {
            display: block;
          }
          .show-all-item {
            text-align: center;
            background-color: color.$green;
            font-weight: 500;
            border-bottom: 1px solid color.$grey1;
            a {
              display: flex;
              justify-content: center;
              color: color.$dark;
              text-decoration: none;
              padding: 8px 14px;
              font-size: 15px;
            }
          }
          &:has(.item:hover) {
            .show-all-item {
              background-color: #ffffff;
            }
          }
          .item {
            border-bottom: 1px solid color.$grey2;
            transition: all 0.4s ease-in-out;
            &:hover {
              background-color: color.$green;
            }
            &:last-child {
              border-bottom: 0;
            }
            a {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 12px;
              color: color.$dark;
              text-decoration: none;
              padding: 6px 14px;
              font-size: 15px;
              font-weight: 500;
              img {
                width: 30px;
                height: auto;
              }
            }
          }
        }
      }
      .cart_page_btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: color.$grey2;
        border: 0;
        span {
          display: inline-block;
          background-color: color.$dark;
          -webkit-mask: url("../images/icons/cart.svg") no-repeat center / 35%;
          mask: url("../images/icons/cart.svg") no-repeat center / 35%;
          width: 2.8rem;
          height: 100%;
        }
      }
    }
  }
}
