.faq_html {
  a {
    display: inline-block;
    color: var(--primary);
    text-decoration: underline;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
  }
  p {
    line-height: 2;
  }
}

.inner_html {
  font-size: 14px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.7;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  p {
    line-height: 2;
  }
  &.style_ul {
    ul {
      padding: 0;
      padding-inline-start: 1rem;
      margin-top: 1rem;
      li {
        padding-inline-start: 1rem;
        line-height: 1.6;
        margin-bottom: 0.5rem;
        &::marker {
          content: "\f1a8";
          font-family: "flaticon_oxford";
          color: var(--secondary);
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .inner_html {
    h1 {
      font-size: 1.4;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    h5 {
      font-size: 1rem;
    }
    h6 {
      font-size: 0.9rem;
    }
  }
}
