@use "./mixins";
@use "./color";

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 0.85em;
  padding: 0.4em 0;
  box-shadow: 0 0 2px var(--border2);
  background-color: var(--white);
  z-index: 100;
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        display: inline-block;
        img {
          width: 85px;
          height: auto;
        }
      }
    }
    .main_links_ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2em;
      @media screen and (min-width: 1300px) {
        gap: 1.6em;
      }
      .main_link_item {
        .main_link {
          display: inline-block;
          transition: all 0.3s linear;
        }
        img {
          width: 15px;
          height: auto;
          display: inline-block;
          -webkit-filter: invert(44%) sepia(13%) saturate(707%) hue-rotate(179deg) brightness(92%) contrast(95%);
          filter: invert(44%) sepia(13%) saturate(707%) hue-rotate(179deg) brightness(92%) contrast(95%);
          transition: all 0.3s linear;
        }
        svg {
          width: 16px;
          height: 15px;
          display: inline-block;
          transition: all 0.3s linear;
          stroke {
            fill: var(--link);
          }
        }
        &.active {
          .main_link {
            color: var(--primary);
          }
          img {
            -webkit-filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
            filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
          }
        }
        &:hover {
          .main_link {
            color: var(--primary);
          }
          img {
            filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
          }
        }
        .search_btn {
          background-color: transparent;
          border: 0;
          padding: 0;
          margin: 0;
          color: var(--link);
          font-size: 1.1em;
        }
        .main_link {
          padding-top: 2.25rem;
          padding-bottom: 2.25rem;
          background-color: transparent;
          border: 0;
          color: var(--link);
          span {
            display: inline-block;
            vertical-align: middle;
            line-height: 0;
          }
        }
        .dropdown {
          &:hover {
            .dropdown-menu {
              display: block !important;
            }
          }
        }
      }
    }
    .dropdown-toggle {
      &::after {
        border: 0;
        content: "\f120";
        font-family: "flaticon_oxford";
        line-height: 0;
        vertical-align: middle;
        margin-right: 0.6em;
      }
    }
    .dropdown-menu {
      font-size: 0.8rem;
      padding: 0;
      margin: 0;
      top: 100% !important;
      border-radius: 0;
      min-width: 250px;
      border-color: var(--border);
      .dropdown-item {
        display: block;
        font-weight: 400;
        padding: 0.8em 1em;
        &:active,
        &:focus {
          background-color: var(--primary);
          color: var(--white);
        }
      }
    }
    .call_to_action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
    }
  }
  .cta_logged_in {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    .user__dropdown {
      button {
        border: 0;
        background-color: transparent;
        padding: 0;
        margin: 0;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      .dropdown-menu {
        top: 42% !important;
        border: 0;
        box-shadow: 0 0 12px #d8d8d8;
        border-radius: 10px;
        .dropdown-item {
          padding: 1rem;
          border-bottom: 1px solid var(--border);
        }
        li {
          &:last-child {
            .dropdown-item {
              border-bottom: 0;
            }
          }
        }
      }
    }
    .notification__dropdown {
      .notify__toggler {
        position: relative;
        border: 0;
        background-color: transparent;
        padding: 0;
        margin: 0;
        svg,
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          -o-object-fit: cover;
          object-fit: cover;
        }
        .notify_alert {
          position: absolute;
          top: 10%;
          inset-inline-start: 2px;
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: var(--secondary);
        }
      }
      .dropdown-menu {
        top: 100% !important;
        border-radius: 20px;
        border: 0;
        box-shadow: 0 0 12px #d8d8d8;
        padding: 1.5rem;
        @media screen and (min-width: 1024px) {
          min-width: 500px;
        }
        @media screen and (max-width: 1023px) {
          width: fit-content;
          max-width: 260px;
        }
        @media screen and (max-width: 600px) {
          max-width: 280px;
        }
        .head__li {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.notify__li {
  position: relative;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  border: 1px solid #eeeeee !important;
  padding: 1rem;
  border-radius: 10px;
  padding-inline-end: 2.2rem;
  margin-bottom: 0.6rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: #efefef !important;
  }
  .notify__dismiss {
    position: absolute;
    inset-inline-end: 1rem;
    top: 0.75rem;
    color: var(--muted);
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: 0.8rem;
  }
  .notify__body {
    flex-grow: 1;
    .notify__head {
      margin: 0;
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 1.5;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
      a {
        color: #000000;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: var(--secondary);
        }
      }
    }
    .summary {
      color: var(--muted);
      margin-bottom: 0;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      line-height: 1.7;
      @media screen and (max-width: 450px) {
        font-size: 0.75rem;
      }
    }
    .notify__cta {
      margin-top: 0.6rem;
      a:first-child,
      button:first-child {
        color: var(--secondary);
        font-weight: 600;
        border: 0;
        padding: 0;
        background-color: transparent;
      }
      a:nth-child(2),
      button:nth-child(2) {
        color: var(--link);
        margin-inline-start: 0.5rem;
        border: 0;
        padding: 0;
        background-color: transparent;
      }
      @media screen and (max-width: 450px) {
        a,
        button {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.mobile_header {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 0.85em;
  padding: 0.4em 0.9em;
  box-shadow: 0 0 2px var(--border2);
  background-color: var(--white);
  z-index: 100;
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    .logo {
      a {
        display: inline-block;
        img {
          width: 80px;
          height: auto;
        }
      }
    }
    .sidebar_toggle_wrapper {
      button {
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        img {
          width: 22px;
          height: auto;
        }
      }
    }
    .search_wrapper {
      button {
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        img {
          width: 22px;
          height: auto;
        }
      }
    }
  }
}

.sidebar_offcanvas {
  .logo {
    a {
      display: inline-block;
      img {
        width: 90px;
        height: auto;
      }
    }
  }
  .offcanvas-body {
    .side_links_wrapper {
      h5 {
        font-size: 0.8em;
        color: #989898;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
        font-size: 0.9em;
        li {
          margin-bottom: 1em;
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--link);
            .icon {
              width: 16px;
              height: auto;
              filter: invert(44%) sepia(13%) saturate(707%) hue-rotate(179deg) brightness(92%) contrast(95%);
            }
          }
          &.active,
          &:active,
          &:focus,
          &:hover {
            -webkit-filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
            filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
          }
        }
      }
    }
  }
}

.search_offcanvas {
  height: 100vh;
  .offcanvas-header {
    position: relative;
    justify-content: center;
    .btn-close {
      position: absolute;
      left: 1.5rem;
      top: 2rem;
    }
  }
  .search_form {
    .input-wrapper {
      position: relative;
      .icon {
        position: absolute;
        right: 1.2rem;
        @include mixins.abs-y-center;
      }
      input {
        padding-right: 2.8rem;
        font-size: 0.9em;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }
    }
  }
}

.subscription__header {
  background-color: var(--secondary);
  color: var(--white);
  font-size: 0.775rem;
  padding-top: 5px;
  padding-bottom: 5px;
  .container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    .main__text {
      margin-top: 0;
      margin-bottom: 0;
    }
    .dropdown-menu {
      @media screen and (min-width: 768px) {
        min-width: 300px;
      }
      @media screen and (max-width: 767px) {
        min-width: 230px;
      }
      padding: 0;
      inset: 2px -120px auto auto;
      max-width: 100%;
      .subscription-li {
        font-size: 0.725rem;
        padding: 0.6rem 0.4rem 0.4rem 0.4rem;
        display: flex;
        gap: 0.3rem;
        border-bottom: 1px solid var(--border);
        &:last-of-type {
          border-bottom: 0;
        }
        i {
          color: var(--primary);
        }
      }
    }
  }
}

// Responsiveness

@media screen and (max-width: 1199px) {
  .header {
    display: none;
  }
  .mobile_header {
    display: block;
  }
}

.footer {
  background-color: var(--footerbg);
  .brand {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    img {
      max-width: 170px;
      @media screen and (max-width: 1400px) {
        max-width: 140px;
      }
      @media screen and (max-width: 1199px) {
        max-width: 120px;
      }
    }
  }
  .text {
    color: var(--white);
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    p {
      font-size: 0.85em;
      line-height: 27px;
      max-width: 500px;
      @media screen and (max-width: 1199px) {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .social {
    display: flex;
    justify-content: flex-start;
    img {
      width: 24px;
      height: auto;
    }
    @media screen and (max-width: 1199px) {
      justify-content: center;
      margin-bottom: 30px;
    }
  }
  .footer-title {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }
  .footer-link {
    display: block;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1em;
  }
  .pay_methods {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    span {
      img {
        max-width: 120px;
        @media screen and (max-width: 575px) {
          max-width: 120px;
        }
      }
    }
  }
}

// RTL

html {
  &:dir(rtl) {
  }
}
