@use "./mixins";
@use "./color";

.top-header {
  background-color: var(--top_header_bg);
  font-size: 0.9rem;
  padding: 10px 25px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  .text {
    p {
      margin-bottom: 0;
      font-weight: 500;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
    }
  }
  .call-to-action {
    display: flex;
    gap: 0.8rem;
    justify-content: flex-end;
    align-items: center;
    .dropdown {
      .dropdown-toggle {
        background-color: transparent;
        border: 0;
      }
      .dropdown-menu {
        padding: 0;
        font-size: 0.9rem;
        top: 20% !important;
        .dropdown-item {
          display: block;
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid var(--border);
        }
      }
    }
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.main-header {
  background-color: var(--white);
  padding: 30px 25px;
  border-bottom: 1px solid var(--border);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .call-to-action {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
  }
}

.header-search-form {
  max-width: 700px;
  @media screen and (max-width: 1400px) {
    max-width: 600px;
  }
  @media screen and (max-width: 1300px) {
    max-width: 500px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 400px;
  }
  @media screen and (max-width: 1100px) {
    max-width: 340px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 300px;
  }
  .input-wrapper {
    position: relative;
    .icon {
      position: absolute;
      right: auto;
      left: 0.8rem;
      @include mixins.abs-y-center;
      color: var(--link);
    }
    input {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 2.2rem;
      color: var(--link);
    }
  }
}

.bottom-header {
  background-color: var(--white);
  padding: 25px;
  .list-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin-bottom: 0;
    .list-inline-item {
      a {
        color: var(--link);
        font-weight: 500;
      }
      &.active,
      &:hover {
        a {
          color: var(--primary);
        }
      }
    }
  }
}

.mobile-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 5px;
  border-bottom: 1px solid var(--border);
  background-color: var(--white);
  .toggler {
    button {
      border: none;
      background-color: transparent;
    }
  }
}

.mobile-header-offcanvas {
  .side-links-wrapper {
    font-size: 0.9rem;
    h5 {
      font-size: 0.9rem;
      color: var(--link);
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0;
          font-weight: 500;
        }
      }
    }
  }
}

.footer {
  border-top: 1px solid var(--border);
  .top-footer {
    padding: 75px 20px;
    .links {
      ul {
        li {
          a {
            font-weight: 500;
          }
          &.active,
          &:hover {
            a {
              color: var(--primary);
            }
          }
        }
      }
    }
  }
  .bottom-footer {
    padding: 1rem 0.5rem;
    background-color: var(--bottom_footer_bg);
    font-size: 0.9rem;
    font-weight: 600;
    .container {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 575px) {
        flex-direction: column;
        gap: 0.9rem;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.cart-link {
  position: relative;
  display: inline-block;
  .cart-badge {
    position: absolute;
    top: -0.8rem;
    left: -0.4rem;
    font-size: 0.65rem;
    color: var(--white);
    background-color: var(--primary);
    padding: 1px 6px;
    border-radius: 50px;
    &.mobile {
      font-size: 0.55rem;
      top: -0.65rem;
    }
  }
}

.page-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

html {
  &:dir(rtl) {
    .header-search-form {
      .input-wrapper {
        position: relative;
        .icon {
          left: auto;
          right: 0.8rem;
        }
        input {
          padding-left: 1rem;
          padding-right: 2.2rem;
        }
      }
    }
    .cart-link {
      .cart-badge {
        right: -0.4rem;
        left: auto;
      }
    }
  }
}
