@import "../plugins/bootstrap/css/bootstrap.rtl.min.css";
@import "../fonts/noto-sans-arabic/stylesheet.css";
html {
  &:dir(rtl) {
    body {
      font-family: "Noto Sans Arabic", sans-serif;
    }
    .mirror-rtl {
      display: inline-block;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}
