@use "color";
@use "mixins";

.mirror-x-ltr {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-60 {
  font-size: 60px !important;
}

.lh-md {
  line-height: 1.8;
}

@media screen and (max-width: 576px) {
  .fs-xs-sm-11 {
    font-size: 11px !important;
  }
  .fs-xs-sm-12 {
    font-size: 12px !important;
  }
  .fs-xs-sm-13 {
    font-size: 13px !important;
  }
  .fs-xs-sm-14 {
    font-size: 14px !important;
  }
  .fs-xs-sm-15 {
    font-size: 15px !important;
  }
  .fs-xs-sm-16 {
    font-size: 16px !important;
  }
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-140 {
  padding-top: 140px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-140 {
  padding-bottom: 140px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.text-done {
  color: var(--primary);
}

.invisible-text {
  display: inline-block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.iframe {
  position: relative;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--border2);
  }
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-padding-md {
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-padding-lg {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (max-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.section-padding-xl {
  padding-top: 120px;
  padding-bottom: 120px;
  @media screen and (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-link {
  color: var(--link) !important;
}

.text-star {
  color: var(--star_color);
}

.fill-red {
  fill: var(--red);
}

.fill-star {
  fill: var(--star_color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge_soft_success {
  background-color: #d1fadf;
  color: #027a48;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.badge_soft_danger {
  background-color: #fecdca;
  color: #f04438;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.badge_soft_warning {
  background-color: #fffcdf;
  color: #8e8215;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-light-3 {
  background-color: var(--greyLight3) !important;
}

.bg-light-4 {
  background-color: var(--greyLight4) !important;
}

.bg-card {
  background-color: var(--cardBg) !important;
}

.bg-primary-light {
  background-color: var(--primaryLight2) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.mx-w-150 {
  max-width: 150px;
}

.mx-w-200 {
  max-width: 200px;
}

.mx-w-250 {
  max-width: 250px;
}

.rounded-5 {
  border-radius: 1.5rem;
}

.green_check_ul {
  padding: 0;
  margin: 1rem;
  li {
    padding-inline-start: 1rem;
    color: var(--link);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
    &::marker {
      content: "\f1a8";
      font-family: "flaticon_oxford";
      color: var(--primary);
    }
  }
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  box-shadow: none !important;
  outline: none !important;
}

input,
select,
textarea {
  &:focus {
    border: 1px solid var(--primary) !important;
  }
}

.icon-fix {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-border-top {
  border-top: 1px solid var(--grey2);
}

.section-border-bottom {
  border-bottom: 1px solid var(--grey2);
}

.zindex-10 {
  z-index: 10;
}

.with-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.css-spinner {
  width: 35px;
  height: 35px;
  border: 4px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spinning 1s linear infinite;
  &.dark {
    border-color: var(--dark);
    border-bottom-color: transparent;
  }
  &.sm {
    width: 15px;
    height: 15px;
    border-width: 2px;
  }
}

.invisible-check {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.h-100vh {
  height: 100vh !important;
}

html {
  &:dir(rtl) {
    .mirror-x-rtl {
      display: inline-block;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

// Adjusted Container

.adjusted_container {
  @media screen and (min-width: 1024px) {
    max-width: 970px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1135px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 1330px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1350px;
  }
  @media screen and (min-width: 1500px) {
    max-width: 1420px;
  }
}

.section_title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 42px;
  @media screen and (max-width: 991px) {
    font-size: 1.2rem;
  }
  .highlight_text {
    position: relative;
    z-index: 2;
    color: var(--secondary);
    &.white {
      color: var(--white);
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2em;
      width: 100%;
      height: 10px;
      background-color: var(--primary);
      opacity: 0.7;
    }
  }
}

.section_title_desc {
  position: relative;
  z-index: 2;
  font-size: 0.85rem;
  color: var(--muted);
  margin-bottom: 0;
  line-height: 26px;
  @media screen and (max-width: 991px) {
    font-size: 0.8rem;
    line-height: 24px;
  }
}

.heading_link_wrap {
  position: relative;
  z-index: 2;
}

.theme_navs {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 991px) {
    justify-content: flex-start;
  }
  @include mixins.hidden-scrollbar;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    border-bottom: 0;
    border-radius: 50px;
    @media screen and (max-width: 991px) {
      flex-wrap: nowrap;
      min-width: max-content;
      gap: 0.6rem;
    }
    li {
      button {
        color: var(--dark);
        border: 1px solid var(--border2) !important;
        background-color: transparent !important;
        border-radius: 50px !important;
        font-size: 0.9em;
        &.rounded-1 {
          border-radius: 5px !important;
        }
        &.lg {
          padding-right: 2em !important;
          padding-left: 2em !important;
        }
        &.active {
          background-color: var(--secondary) !important;
          color: var(--white) !important;
        }
      }
    }
  }
}

.section_abstract {
  position: relative;
  overflow: hidden;
  .shape_1 {
    position: absolute;
    right: -70px;
    top: 12%;
    max-width: 600px;
    @media screen and (max-width: 1199px) {
      max-width: 300px;
    }
    @media screen and (max-width: 576px) {
      max-width: 250px;
    }
  }
  .shape_2 {
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 600px;
    @media screen and (max-width: 1199px) {
      max-width: 300px;
    }
    @media screen and (max-width: 576px) {
      max-width: 250px;
    }
  }
  .shape_3 {
    position: absolute;
    right: 0;
    top: 23%;
    max-width: 900px;
  }
}

.load_more {
  min-height: 100px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr_light {
  border-top: 1px solid var(--inputColor);
}

.shadow-none {
  box-shadow: none !important;
}

/* Animations */

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
