@use "color";
@use "mixins";

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-140 {
  padding-top: 140px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-140 {
  padding-bottom: 140px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-padding-md {
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-padding-lg {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (max-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.section-padding-xl {
  padding-top: 120px;
  padding-bottom: 120px;
  @media screen and (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.text-grey1 {
  color: color.$grey1;
}

.text-grey2 {
  color: color.$grey2;
}

.text-grey3 {
  color: color.$grey3;
}

.bg-grey1 {
  background-color: color.$grey1;
}

.bg-grey2 {
  background-color: color.$grey2;
}

.bg-grey3 {
  background-color: color.$grey3;
}

button,
input,
select,
textarea {
  box-shadow: none !important;
  outline: none !important;
}

.icon-fix {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-border-top {
  border-top: 1px solid color.$grey2;
}

.section-border-bottom {
  border-bottom: 1px solid color.$grey2;
}

.zindex-10 {
  z-index: 10;
}

.with-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.css-spinner {
  width: 35px;
  height: 35px;
  border: 4px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spinning 1s linear infinite;
  &.dark {
    border-color: color.$dark;
    border-bottom-color: transparent;
  }
  &.sm {
    width: 15px;
    height: 15px;
    border-width: 2px;
  }
}

.section_loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 10;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.empty_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 30px;
  text-align: center;
  min-height: 330px;
  .icon {
    img {
      width: 90px;
      height: auto;
    }
  }
  .text {
    font-size: 16px;
    font-weight: 500;
  }
}

.country_overlay_selected_label {
  font-size: 13px;
  font-weight: 600;
}

.change_ctry_btn {
  background-color: transparent;
  border: 0;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.cart__group_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .item {
    width: 3rem;
    text-align: center;
    text-decoration: none;
    &.link {
      display: block;
      span {
        display: inline-block;
        vertical-align: middle;
        background-color: color.$dark;
        width: 100%;
        height: 3rem;
        -webkit-mask: url("../images/icons/cart.svg") no-repeat,
          center / contain;
        mask: url("../images/icons/cart.svg") no-repeat center / 40%;
      }
    }
    .cart__count {
      display: inline-flex;
      width: 100%;
      height: 3rem;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      color: color.$dark;
      background-color: color.$green;
    }
  }
}

.title-section {
  padding: 0 22px;
  h4 {
    font-size: 28px;
    font-weight: 900;
  }
  @media screen and (max-width: 576px) {
    padding: 0 18px;
    h4 {
      font-size: 24px;
    }
  }
}

.action-wrap {
  padding: 0 22px;
  @media screen and (max-width: 576px) {
    padding: 0 18px;
  }
}

.thm_btn_1 {
  position: relative;
  padding: 12px 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  &:hover {
    color: color.$grey4;
  }
  background-color: color.$dark;
  border: 0;
  text-decoration: none;
  padding-left: 40px;
  i {
    font-size: 10px;
  }
  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    @include mixins.abs-y-center;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: fadeInOut 1s alternate infinite;
  }
  &:disabled,
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.thm_btn_2 {
  position: relative;
  padding: 12px 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: color.$yellow;
  &:hover {
    color: color.$grey4;
  }
  background-color: color.$dark;
  border: 0;
  text-decoration: none;
  padding-left: 40px;
  i {
    font-size: 10px;
  }
  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    @include mixins.abs-y-center;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: color.$yellow;
    animation: fadeInOut 1s alternate infinite;
  }
  &:disabled,
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.dark_btn {
  background-color: color.$dark;
  color: #ffffff;
  padding: 8px 15px;
  border: 0;
  text-align: center;
  font-weight: 500;
  transition: all 0.4s;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.dark_btn_outline {
  background-color: transparent;
  color: color.$dark;
  border: 1px solid color.$dark;
  padding: 8px 15px;
  text-align: center;
  font-weight: 500;
  transition: all 0.4s;
  &:hover {
    background-color: color.$dark;
    color: #ffffff;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.thm_pagination {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  .prev,
  .next {
    display: inline-block;
    background-color: color.$grey2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    transition: all 0.4s;
    span {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: color.$dark;
      mask-size: 6px;
      mask-repeat: no-repeat;
      mask-position: center;
    }
    &:hover {
      background-color: color.$grey1;
    }
    &:disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }
  .prev {
    span {
      mask-image: url("../images/icons/back.svg");
    }
  }
  .next {
    span {
      mask-image: url("../images/icons/forward.svg");
    }
  }
  .labels {
    font-weight: 500;
  }
}

html {
  &:dir(rtl) {
    .thm_pagination {
      .prev {
        span {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          mask-image: url("../images/icons/back.svg");
        }
      }
      .next {
        span {
          mask-image: url("../images/icons/forward.svg");
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
      }
      .labels {
        font-weight: 500;
      }
    }
  }
}

/* Animations */

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

canvas {
  &#bouncingBalls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.green-dark-btn {
  background-color: color.$green;
  color: color.$dark;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 8px 15px;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: darken($color: color.$green, $amount: 5%);
  }
  &:disabled,
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: color.$grey2;
}

.small-section-heading {
  padding: 20px;
  p {
    position: relative;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 8px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-image: url("../images/icons/wavyLineBlue.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.products_swiper_1 {
  .swiper-button-next,
  .swiper-button-prev {
    background-color: color.$pink;
    padding: 40px;
    border-radius: 50%;
    top: 45%;
    &::after {
      opacity: 0;
      -webkit-filter: brightness(0);
      filter: brightness(0);
      font-size: 26px;
    }
    @media screen and (max-width: 575px) {
      padding: 30px;
      &::after {
        font-size: 20px;
      }
    }
  }
  .swiper-button-next {
    right: -50px !important;
  }
  .swiper-button-prev {
    left: -50px;
  }
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      &::after {
        opacity: 1;
      }
    }
    .swiper-button-next {
      right: -26px !important;
      &::after {
        margin-left: -15px;
      }
    }
    .swiper-button-prev {
      left: -26px !important;
      &::after {
        margin-right: -15px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .swiper-button-next {
      right: -20px !important;
      &::after {
        margin-left: -15px !important;
        opacity: 1 !important;
      }
    }
    .swiper-button-prev {
      left: -20px !important;
      &::after {
        margin-right: -15px !important;
        opacity: 1 !important;
      }
    }
  }
}

html {
  &:dir(rtl) {
    .products_swiper_1 {
      .swiper-button-next {
        position: absolute;
        left: -50px !important;
        right: auto !important;
      }
      .swiper-button-prev {
        right: -50px !important;
        left: auto !important;
      }
      &:hover {
        .swiper-button-next {
          left: -30px !important;
          &::after {
            margin-right: -15px;
            margin-left: 0;
          }
        }
        .swiper-button-prev {
          right: -30px !important;
          &::after {
            margin-left: -15px;
            margin-right: 0;
          }
        }
      }
      @media screen and (max-width: 991px) {
        .swiper-button-next {
          left: -20px !important;
          right: auto !important;
          &::after {
            margin-right: -15px !important;
            margin-left: 0;
          }
        }
        .swiper-button-prev {
          right: -20px !important;
          left: auto !important;
          &::after {
            margin-left: -15px !important;
            margin-right: 0;
          }
        }
      }
      &:hover {
        @media screen and (max-width: 991px) {
          .swiper-button-next {
            left: -20px !important;
          }
          .swiper-button-prev {
            right: -20px !important;
          }
        }
      }
    }
  }
}
