/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_oxford";
    src: url("./flaticon_oxford.woff2?eb4650adbac098aba036200d0f571b60") format("woff2"),
url("./flaticon_oxford.woff?eb4650adbac098aba036200d0f571b60") format("woff"),
url("./flaticon_oxford.eot?eb4650adbac098aba036200d0f571b60#iefix") format("embedded-opentype"),
url("./flaticon_oxford.ttf?eb4650adbac098aba036200d0f571b60") format("truetype"),
url("./flaticon_oxford.svg?eb4650adbac098aba036200d0f571b60#flaticon_oxford") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_oxford !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-whatsapp:before {
    content: "\f101";
}
.flaticon-facebook:before {
    content: "\f102";
}
.flaticon-call:before {
    content: "\f103";
}
.flaticon-maps-and-flags:before {
    content: "\f104";
}
.flaticon-search:before {
    content: "\f105";
}
.flaticon-loupe:before {
    content: "\f106";
}
.flaticon-location:before {
    content: "\f107";
}
.flaticon-back-in-time:before {
    content: "\f108";
}
.flaticon-briefcase:before {
    content: "\f109";
}
.flaticon-skyline:before {
    content: "\f10a";
}
.flaticon-building:before {
    content: "\f10b";
}
.flaticon-share:before {
    content: "\f10c";
}
.flaticon-plus:before {
    content: "\f10d";
}
.flaticon-plus-1:before {
    content: "\f10e";
}
.flaticon-minus:before {
    content: "\f10f";
}
.flaticon-minus-sign:before {
    content: "\f110";
}
.flaticon-check:before {
    content: "\f111";
}
.flaticon-check-1:before {
    content: "\f112";
}
.flaticon-close:before {
    content: "\f113";
}
.flaticon-x-mark:before {
    content: "\f114";
}
.flaticon-pen:before {
    content: "\f115";
}
.flaticon-edit:before {
    content: "\f116";
}
.flaticon-writing:before {
    content: "\f117";
}
.flaticon-trash:before {
    content: "\f118";
}
.flaticon-play-button:before {
    content: "\f119";
}
.flaticon-volume:before {
    content: "\f11a";
}
.flaticon-send:before {
    content: "\f11b";
}
.flaticon-send-1:before {
    content: "\f11c";
}
.flaticon-right-arrow-angle:before {
    content: "\f11d";
}
.flaticon-back:before {
    content: "\f11e";
}
.flaticon-arrow:before {
    content: "\f11f";
}
.flaticon-down:before {
    content: "\f120";
}
.flaticon-right-arrow:before {
    content: "\f121";
}
.flaticon-left-arrow:before {
    content: "\f122";
}
.flaticon-pdf:before {
    content: "\f123";
}
.flaticon-download:before {
    content: "\f124";
}
.flaticon-download-1:before {
    content: "\f125";
}
.flaticon-upload:before {
    content: "\f126";
}
.flaticon-cloud-computing:before {
    content: "\f127";
}
.flaticon-cloud:before {
    content: "\f128";
}
.flaticon-server:before {
    content: "\f129";
}
.flaticon-target:before {
    content: "\f12a";
}
.flaticon-target-1:before {
    content: "\f12b";
}
.flaticon-filter:before {
    content: "\f12c";
}
.flaticon-filter-1:before {
    content: "\f12d";
}
.flaticon-sort:before {
    content: "\f12e";
}
.flaticon-sort-1:before {
    content: "\f12f";
}
.flaticon-sort-2:before {
    content: "\f130";
}
.flaticon-twitter:before {
    content: "\f131";
}
.flaticon-twitter-1:before {
    content: "\f132";
}
.flaticon-twitter-2:before {
    content: "\f133";
}
.flaticon-linkedin:before {
    content: "\f134";
}
.flaticon-linkedin-1:before {
    content: "\f135";
}
.flaticon-linkedin-2:before {
    content: "\f136";
}
.flaticon-youtube:before {
    content: "\f137";
}
.flaticon-youtube-1:before {
    content: "\f138";
}
.flaticon-menu:before {
    content: "\f139";
}
.flaticon-menu-1:before {
    content: "\f13a";
}
.flaticon-email:before {
    content: "\f13b";
}
.flaticon-left-quote:before {
    content: "\f13c";
}
.flaticon-menu-2:before {
    content: "\f13d";
}
.flaticon-shopping-cart:before {
    content: "\f13e";
}
.flaticon-shopping-cart-1:before {
    content: "\f13f";
}
.flaticon-shopping-cart-2:before {
    content: "\f140";
}
.flaticon-shopping-cart-3:before {
    content: "\f141";
}
.flaticon-badge:before {
    content: "\f142";
}
.flaticon-gift:before {
    content: "\f143";
}
.flaticon-gift-box:before {
    content: "\f144";
}
.flaticon-medal-1:before {
    content: "\f145";
}
.flaticon-medal-3:before {
    content: "\f146";
}
.flaticon-reward:before {
    content: "\f147";
}
.flaticon-user:before {
    content: "\f148";
}
.flaticon-user-1:before {
    content: "\f149";
}
.flaticon-question:before {
    content: "\f14a";
}
.flaticon-account:before {
    content: "\f14b";
}
.flaticon-information:before {
    content: "\f14c";
}
.flaticon-shopping-cart-4:before {
    content: "\f14d";
}
.flaticon-bag:before {
    content: "\f14e";
}
.flaticon-location-1:before {
    content: "\f14f";
}
.flaticon-delivery:before {
    content: "\f150";
}
.flaticon-mobile-app:before {
    content: "\f151";
}
.flaticon-chat:before {
    content: "\f152";
}
.flaticon-shopping-cart-5:before {
    content: "\f153";
}
.flaticon-love:before {
    content: "\f154";
}
.flaticon-heart:before {
    content: "\f155";
}
.flaticon-heart-1:before {
    content: "\f156";
}
.flaticon-instagram:before {
    content: "\f157";
}
.flaticon-instagram-1:before {
    content: "\f158";
}
.flaticon-instagram-2:before {
    content: "\f159";
}
.flaticon-shopping-basket:before {
    content: "\f15a";
}
.flaticon-bookmark:before {
    content: "\f15b";
}
.flaticon-bookmark-1:before {
    content: "\f15c";
}
.flaticon-padlock:before {
    content: "\f15d";
}
.flaticon-lock:before {
    content: "\f15e";
}
.flaticon-padlock-1:before {
    content: "\f15f";
}
.flaticon-view:before {
    content: "\f160";
}
.flaticon-eye:before {
    content: "\f161";
}
.flaticon-hide:before {
    content: "\f162";
}
.flaticon-hidden:before {
    content: "\f163";
}
.flaticon-arrow-angle-pointing-to-right:before {
    content: "\f164";
}
.flaticon-phone:before {
    content: "\f165";
}
.flaticon-email-1:before {
    content: "\f166";
}
.flaticon-mail:before {
    content: "\f167";
}
.flaticon-email-2:before {
    content: "\f168";
}
.flaticon-arroba:before {
    content: "\f169";
}
.flaticon-paper-plane:before {
    content: "\f16a";
}
.flaticon-left-arrow-angle-big-gross-symbol:before {
    content: "\f16b";
}
.flaticon-heart-2:before {
    content: "\f16c";
}
.flaticon-discount:before {
    content: "\f16d";
}
.flaticon-discount-1:before {
    content: "\f16e";
}
.flaticon-coupon:before {
    content: "\f16f";
}
.flaticon-star:before {
    content: "\f170";
}
.flaticon-star-1:before {
    content: "\f171";
}
.flaticon-star-2:before {
    content: "\f172";
}
.flaticon-plus-2:before {
    content: "\f173";
}
.flaticon-information-button:before {
    content: "\f174";
}
.flaticon-information-1:before {
    content: "\f175";
}
.flaticon-info:before {
    content: "\f176";
}
.flaticon-coupon-1:before {
    content: "\f177";
}
.flaticon-discount-2:before {
    content: "\f178";
}
.flaticon-calendar:before {
    content: "\f179";
}
.flaticon-calendar-1:before {
    content: "\f17a";
}
.flaticon-calendar-2:before {
    content: "\f17b";
}
.flaticon-clock:before {
    content: "\f17c";
}
.flaticon-world:before {
    content: "\f17d";
}
.flaticon-quality:before {
    content: "\f17e";
}
.flaticon-hut:before {
    content: "\f17f";
}
.flaticon-home:before {
    content: "\f180";
}
.flaticon-sent:before {
    content: "\f181";
}
.flaticon-sorting:before {
    content: "\f182";
}
.flaticon-dots:before {
    content: "\f183";
}
.flaticon-menu-3:before {
    content: "\f184";
}
.flaticon-button:before {
    content: "\f185";
}
.flaticon-rec:before {
    content: "\f186";
}
.flaticon-tik-tok:before {
    content: "\f187";
}
.flaticon-tiktok:before {
    content: "\f188";
}
.flaticon-tiktok-1:before {
    content: "\f189";
}
.flaticon-snapchat:before {
    content: "\f18a";
}
.flaticon-snapchat-2:before {
    content: "\f18b";
}
.flaticon-snapchat-3:before {
    content: "\f18c";
}
.flaticon-document:before {
    content: "\f18d";
}
.flaticon-file:before {
    content: "\f18e";
}
.flaticon-approved:before {
    content: "\f18f";
}
.flaticon-attach-file:before {
    content: "\f190";
}
.flaticon-play-button-arrowhead:before {
    content: "\f191";
}
.flaticon-play-button-1:before {
    content: "\f192";
}
.flaticon-play:before {
    content: "\f193";
}
.flaticon-close-1:before {
    content: "\f194";
}
.flaticon-close-2:before {
    content: "\f195";
}
.flaticon-credit-card:before {
    content: "\f196";
}
.flaticon-credit-card-1:before {
    content: "\f197";
}
.flaticon-credit-card-2:before {
    content: "\f198";
}
.flaticon-money:before {
    content: "\f199";
}
.flaticon-bill:before {
    content: "\f19a";
}
.flaticon-symbols:before {
    content: "\f19b";
}
.flaticon-visa-2:before {
    content: "\f19c";
}
.flaticon-atm:before {
    content: "\f19d";
}
.flaticon-card-3:before {
    content: "\f19e";
}
.flaticon-cvv:before {
    content: "\f19f";
}
.flaticon-close-3:before {
    content: "\f1a0";
}
.flaticon-magnifying-glass:before {
    content: "\f1a1";
}
.flaticon-copyright:before {
    content: "\f1a2";
}
.flaticon-copyright-1:before {
    content: "\f1a3";
}
.flaticon-copyright-2:before {
    content: "\f1a4";
}
.flaticon-copyright-3:before {
    content: "\f1a5";
}
.flaticon-copyright-symbol:before {
    content: "\f1a6";
}
.flaticon-copyright-4:before {
    content: "\f1a7";
}
.flaticon-checked:before {
    content: "\f1a8";
}
.flaticon-quality-control:before {
    content: "\f1a9";
}
.flaticon-checked-2:before {
    content: "\f1aa";
}
.flaticon-read:before {
    content: "\f1ab";
}
.flaticon-user-2:before {
    content: "\f1ac";
}
.flaticon-setting:before {
    content: "\f1ad";
}
.flaticon-otp:before {
    content: "\f1ae";
}
.flaticon-otp-1:before {
    content: "\f1af";
}
.flaticon-arrow-1:before {
    content: "\f1b0";
}
.flaticon-refresh:before {
    content: "\f1b1";
}

