:root {
  --primary: #00b34f;
  --primaryLight: #02e665;
  --primaryLight2: #e6f8ee;
  --secondary: #144394;
  --secondaryLight: #1152c3;
  --yellow: #fab437;
  --light: #f6f9ff;
  --greyLight: #ecf1fc;
  --border: #ebebeb;
  --border2: #c1c1c1;
  --link: #5f6d85;
  --inputColor: #8f99ab;
  --muted: #79797b;
  --dark: #000000;
  --white: #ffffff;
  --white_50: #e9e9e9;
  --red: #ff3232;
  --star_color: #fab437;
  --footerbg: #355389;
  --white: #ffffff;
  --font: "Poppins", sans-serif;
}

:root {
  --primary: #00b34f;
  --primaryLight: #02e665;
  --primaryLight2: #e6f8ee;
  --secondary: #144394;
  --secondaryLight: #1152c3;
  --yellow: #fab437;
  --light: #f6f9ff;
  --greyLight: #ecf1fc;
  --border: #ebebeb;
  --border2: #c1c1c1;
  --link: #5f6d85;
  --inputColor: #8f99ab;
  --muted: #79797b;
  --dark: #000000;
  --white: #ffffff;
  --white_50: #e9e9e9;
  --red: #ff3232;
  --star_color: #fab437;
  --footerbg: #355389;
  --white: #ffffff;
  --font: "Poppins", sans-serif;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 0.85em;
  padding: 0.4em 0;
  box-shadow: 0 0 2px var(--border2);
  background-color: var(--white);
  z-index: 100;
}
.header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_wrapper .logo a {
  display: inline-block;
}
.header .header_wrapper .logo a img {
  width: 85px;
  height: auto;
}
.header .header_wrapper .main_links_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
}
.header .header_wrapper .main_links_ul .main_link_item .main_link {
  display: inline-block;
  transition: all 0.3s linear;
}
.header .header_wrapper .main_links_ul .main_link_item img {
  width: 15px;
  height: auto;
  display: inline-block;
  -webkit-filter: invert(44%) sepia(13%) saturate(707%) hue-rotate(179deg) brightness(92%) contrast(95%);
  filter: invert(44%) sepia(13%) saturate(707%) hue-rotate(179deg) brightness(92%) contrast(95%);
  transition: all 0.3s linear;
}
.header .header_wrapper .main_links_ul .main_link_item svg {
  width: 16px;
  height: 15px;
  display: inline-block;
  transition: all 0.3s linear;
}
.header .header_wrapper .main_links_ul .main_link_item svg stroke {
  fill: var(--link);
}
.header .header_wrapper .main_links_ul .main_link_item.active .main_link {
  color: var(--primary);
}
.header .header_wrapper .main_links_ul .main_link_item.active img {
  -webkit-filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
  filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
}
.header .header_wrapper .main_links_ul .main_link_item:hover .main_link {
  color: var(--primary);
}
.header .header_wrapper .main_links_ul .main_link_item:hover img {
  filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
}
.header .header_wrapper .main_links_ul .main_link_item .search_btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--link);
  font-size: 1.1em;
}
.header .header_wrapper .main_links_ul .main_link_item .main_link {
  background-color: transparent;
  border: 0;
  color: var(--link);
}
.header .header_wrapper .main_links_ul .main_link_item .main_link span {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.header .header_wrapper .dropdown-toggle::after {
  border: 0;
  content: "\f120";
  font-family: "flaticon_oxford";
  line-height: 0;
  vertical-align: middle;
  margin-right: 0.6em;
}
.header .header_wrapper .dropdown-menu {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  top: 158% !important;
  border-radius: 0;
  min-width: 250px;
  border-color: var(--border);
}
.header .header_wrapper .dropdown-menu .dropdown-item {
  display: block;
  font-weight: 400;
  padding: 0.8em 1em;
}
.header .header_wrapper .dropdown-menu .dropdown-item:active, .header .header_wrapper .dropdown-menu .dropdown-item:focus {
  background-color: var(--primary);
  color: var(--white);
}
.header .header_wrapper .call_to_action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.mobile_header {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 0.85em;
  padding: 0.4em 0.9em;
  box-shadow: 0 0 2px var(--border2);
  background-color: var(--white);
  z-index: 100;
}
.mobile_header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}
.mobile_header .header_wrapper .logo a {
  display: inline-block;
}
.mobile_header .header_wrapper .logo a img {
  width: 80px;
  height: auto;
}
.mobile_header .header_wrapper .sidebar_toggle_wrapper button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
.mobile_header .header_wrapper .sidebar_toggle_wrapper button img {
  width: 22px;
  height: auto;
}
.mobile_header .header_wrapper .search_wrapper button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
.mobile_header .header_wrapper .search_wrapper button img {
  width: 22px;
  height: auto;
}

.sidebar_offcanvas .logo a {
  display: inline-block;
}
.sidebar_offcanvas .logo a img {
  width: 90px;
  height: auto;
}
.sidebar_offcanvas .offcanvas-body .side_links_wrapper h5 {
  font-size: 0.8em;
  color: #989898;
}
.sidebar_offcanvas .offcanvas-body .side_links_wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 0.9em;
}
.sidebar_offcanvas .offcanvas-body .side_links_wrapper ul li {
  margin-bottom: 1em;
}
.sidebar_offcanvas .offcanvas-body .side_links_wrapper ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--link);
}
.sidebar_offcanvas .offcanvas-body .side_links_wrapper ul li a .icon {
  width: 16px;
  height: auto;
  filter: invert(44%) sepia(13%) saturate(707%) hue-rotate(179deg) brightness(92%) contrast(95%);
}
.sidebar_offcanvas .offcanvas-body .side_links_wrapper ul li.active, .sidebar_offcanvas .offcanvas-body .side_links_wrapper ul li:active, .sidebar_offcanvas .offcanvas-body .side_links_wrapper ul li:focus, .sidebar_offcanvas .offcanvas-body .side_links_wrapper ul li:hover {
  -webkit-filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
  filter: invert(45%) sepia(64%) saturate(3572%) hue-rotate(123deg) brightness(98%) contrast(104%);
}

.search_offcanvas {
  height: 100vh;
}
.search_offcanvas .offcanvas-header {
  position: relative;
  justify-content: center;
}
.search_offcanvas .offcanvas-header .btn-close {
  position: absolute;
  left: 1.5rem;
  top: 2rem;
}
.search_offcanvas .search_form .input-wrapper {
  position: relative;
}
.search_offcanvas .search_form .input-wrapper .icon {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search_offcanvas .search_form .input-wrapper input {
  padding-right: 2.8rem;
  font-size: 0.9em;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

@media screen and (max-width: 1199px) {
  .header {
    display: none;
  }
  .mobile_header {
    display: block;
  }
}
.footer {
  background-color: var(--footerbg);
}
@media screen and (max-width: 1199px) {
  .footer .brand {
    text-align: center;
  }
}
.footer .brand img {
  max-width: 170px;
}
@media screen and (max-width: 1400px) {
  .footer .brand img {
    max-width: 140px;
  }
}
@media screen and (max-width: 1199px) {
  .footer .brand img {
    max-width: 120px;
  }
}
.footer .text {
  color: var(--white);
}
@media screen and (max-width: 1199px) {
  .footer .text {
    text-align: center;
  }
}
.footer .text p {
  font-size: 0.85em;
  line-height: 27px;
  max-width: 500px;
}
@media screen and (max-width: 1199px) {
  .footer .text p {
    margin-right: auto;
    margin-left: auto;
  }
}
.footer .social {
  display: flex;
  justify-content: flex-start;
}
.footer .social img {
  width: 24px;
  height: auto;
}
@media screen and (max-width: 1199px) {
  .footer .social {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.footer .footer-title {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 1.5em;
  font-size: 1.1em;
}
.footer .footer-link {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 1em;
}
.footer .pay_methods {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.footer .pay_methods span img {
  max-width: 120px;
}
@media screen and (max-width: 575px) {
  .footer .pay_methods span img {
    max-width: 120px;
  }
}

:root {
  --primary: #00b34f;
  --primaryLight: #02e665;
  --primaryLight2: #e6f8ee;
  --secondary: #144394;
  --secondaryLight: #1152c3;
  --yellow: #fab437;
  --light: #f6f9ff;
  --greyLight: #ecf1fc;
  --border: #ebebeb;
  --border2: #c1c1c1;
  --link: #5f6d85;
  --inputColor: #8f99ab;
  --muted: #79797b;
  --dark: #000000;
  --white: #ffffff;
  --white_50: #e9e9e9;
  --red: #ff3232;
  --star_color: #fab437;
  --footerbg: #355389;
  --white: #ffffff;
  --font: "Poppins", sans-serif;
}

.mirror-x-ltr {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-60 {
  font-size: 60px !important;
}

.lh-md {
  line-height: 1.8;
}

@media screen and (max-width: 576px) {
  .fs-xs-sm-11 {
    font-size: 11px !important;
  }
  .fs-xs-sm-12 {
    font-size: 12px !important;
  }
  .fs-xs-sm-13 {
    font-size: 13px !important;
  }
  .fs-xs-sm-14 {
    font-size: 14px !important;
  }
  .fs-xs-sm-15 {
    font-size: 15px !important;
  }
  .fs-xs-sm-16 {
    font-size: 16px !important;
  }
}
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-140 {
  padding-top: 140px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-140 {
  padding-bottom: 140px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.invisible-text {
  display: inline-block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.iframe {
  position: relative;
  padding-top: 56.25%;
}
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--border2);
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-padding-md {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .section-padding-md {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-padding-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .section-padding-lg {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.section-padding-xl {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .section-padding-xl {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-link {
  color: var(--link) !important;
}

.text-star {
  color: var(--star_color);
}

.fill-red {
  fill: var(--red);
}

.fill-star {
  fill: var(--star_color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-primary-light {
  background-color: var(--primaryLight2) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.green_check_ul {
  padding: 0;
  margin: 1rem;
}
.green_check_ul li {
  padding-inline-start: 1rem;
  color: var(--link);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}
.green_check_ul li::marker {
  content: "\f1a8";
  font-family: "flaticon_oxford";
  color: var(--primary);
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  box-shadow: none !important;
  outline: none !important;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--primary) !important;
}

.icon-fix {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-border-top {
  border-top: 1px solid var(--grey2);
}

.section-border-bottom {
  border-bottom: 1px solid var(--grey2);
}

.zindex-10 {
  z-index: 10;
}

.with-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.css-spinner {
  width: 35px;
  height: 35px;
  border: 4px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spinning 1s linear infinite;
}
.css-spinner.dark {
  border-color: var(--dark);
  border-bottom-color: transparent;
}
.css-spinner.sm {
  width: 15px;
  height: 15px;
  border-width: 2px;
}

.invisible-check {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.h-100vh {
  height: 100vh !important;
}

html:dir(rtl) .mirror-x-rtl {
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media screen and (min-width: 1024px) {
  .adjusted_container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .adjusted_container {
    max-width: 1135px;
  }
}
@media screen and (min-width: 1400px) {
  .adjusted_container {
    max-width: 1330px;
  }
}
@media screen and (min-width: 1440px) {
  .adjusted_container {
    max-width: 1350px;
  }
}
@media screen and (min-width: 1500px) {
  .adjusted_container {
    max-width: 1420px;
  }
}

.section_title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 42px;
}
@media screen and (max-width: 991px) {
  .section_title {
    font-size: 1.2rem;
  }
}
.section_title .highlight_text {
  position: relative;
  z-index: 2;
  color: var(--secondary);
}
.section_title .highlight_text.white {
  color: var(--white);
}
.section_title .highlight_text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2em;
  width: 100%;
  height: 10px;
  background-color: var(--primary);
  opacity: 0.7;
}

.section_title_desc {
  position: relative;
  z-index: 2;
  font-size: 0.85rem;
  color: var(--muted);
  margin-bottom: 0;
  line-height: 26px;
}
@media screen and (max-width: 991px) {
  .section_title_desc {
    font-size: 0.8rem;
    line-height: 24px;
  }
}

.heading_link_wrap {
  position: relative;
  z-index: 2;
}

.theme_navs {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  scrollbar-width: 0;
  scrollbar-color: transparent;
}
@media screen and (max-width: 991px) {
  .theme_navs {
    justify-content: flex-start;
  }
}
.theme_navs::-webkit-scrollbar {
  scrollbar-width: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.theme_navs ul {
  min-width: max-content;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 0;
  border-radius: 50px;
  gap: 0.6rem;
}
.theme_navs ul li button {
  color: var(--dark);
  border: 1px solid var(--border2) !important;
  background-color: transparent !important;
  border-radius: 50px !important;
  font-size: 0.9em;
}
.theme_navs ul li button.rounded-1 {
  border-radius: 5px !important;
}
.theme_navs ul li button.lg {
  padding-right: 2em !important;
  padding-left: 2em !important;
}
.theme_navs ul li button.active {
  background-color: var(--secondary) !important;
  color: var(--white) !important;
}

.section_abstract {
  position: relative;
  overflow: hidden;
}
.section_abstract .shape_1 {
  position: absolute;
  right: -70px;
  top: 12%;
  max-width: 600px;
}
@media screen and (max-width: 1199px) {
  .section_abstract .shape_1 {
    max-width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .section_abstract .shape_1 {
    max-width: 250px;
  }
}
.section_abstract .shape_2 {
  position: absolute;
  left: 0;
  top: 50%;
  max-width: 600px;
}
@media screen and (max-width: 1199px) {
  .section_abstract .shape_2 {
    max-width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .section_abstract .shape_2 {
    max-width: 250px;
  }
}
.section_abstract .shape_3 {
  position: absolute;
  right: 0;
  top: 23%;
  max-width: 900px;
}

/* Animations */
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button .css-spinner {
  display: none;
}
button.loading {
  pointer-events: none;
  opacity: 0.75;
}
button.loading .icon {
  display: none;
}
button.loading .css-spinner {
  display: inline-block;
}
button:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.btn-primary {
  display: inline-block;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
}
.btn-primary.rounded {
  border-radius: 50px !important;
}
.btn-primary.lg {
  padding: 1em 1.5em;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: var(--primaryLight);
  border-color: var(--primaryLight);
}
.btn-primary.btn-primary-outlined {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}
.btn-primary.btn-primary-outlined:hover, .btn-primary.btn-primary-outlined:active, .btn-primary.btn-primary-outlined:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.btn-secondary {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
}
.btn-secondary.rounded {
  border-radius: 50px !important;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: var(--secondaryLight);
  border-color: var(--secondaryLight);
}
.btn-secondary.btn-secondary-outlined {
  background-color: transparent;
  color: var(--secondary);
  border-color: var(--secondary);
}
.btn-secondary.btn-secondary-outlined:hover, .btn-secondary.btn-secondary-outlined:active, .btn-secondary.btn-secondary-outlined:focus {
  background-color: var(--secondaryLight);
  border-color: var(--secondaryLight);
  color: var(--white);
}

.btn-white {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
}
.btn-white.rounded {
  border-radius: 50px !important;
}
.btn-white:hover, .btn-white:active, .btn-white:focus {
  background-color: #ececec;
  border-color: #ececec;
}
.btn-white.btn-white-outlined {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
.btn-white.btn-white-outlined:hover, .btn-white.btn-white-outlined:active, .btn-white.btn-white-outlined:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.btn-muted {
  border: 1px solid var(--border2);
  background-color: transparent;
  color: var(--dark);
  padding: 0.65em 1.2em;
  font-size: 0.9em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s linear;
}
.btn-muted.rounded {
  border-radius: 50px !important;
}
.btn-muted:hover, .btn-muted:active, .btn-muted:focus {
  background-color: var(--light);
}

.auth_section {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 1024px) {
  .auth_section {
    grid-template-columns: 100%;
  }
}
.auth_section.one_col {
  grid-template-columns: 100%;
}
.auth_section .wrapping_el {
  padding: 1.9em 2em;
}
.auth_section .content_col {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 4em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .auth_section .content_col {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
.auth_section .form_col {
  background-color: var(--white);
}
@media screen and (min-width: 1025px) {
  .auth_section .form_col {
    max-height: 100vh;
    overflow: auto;
    scrollbar-width: 0;
    scrollbar-color: transparent;
  }
  .auth_section .form_col::-webkit-scrollbar {
    scrollbar-width: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
.auth_section .form_col .heading {
  text-align: center;
  margin-bottom: 2em;
}
.auth_section .form_col .heading .brand img {
  width: 125px;
  height: auto;
}
.auth_section .form_col .form_inner {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
}
.auth_section .form_col .form_inner .text-content h2 {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 0.6em;
}
.auth_section .form_col .form_inner .text-content p {
  margin-bottom: 0;
  color: var(--muted);
  font-size: 0.8em;
  font-weight: 400;
}
.auth_section .form_col .form_inner .auth_form .form-label {
  font-size: 0.8em;
}
.auth_section .form_col .form_inner .auth_form .form-control {
  font-size: 0.75em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.auth_section .form_col .form_inner .auth_form .form-control.error {
  border-color: var(--red);
  font-size: 0.75em;
}
.auth_section .form_col .form_inner .auth_form button {
  font-size: 0.8em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.auth_section .form_col .form_inner .auth_form .error {
  color: var(--red);
  font-size: 0.7em;
}

.banner_section {
  padding: 70px 8px;
}
.banner_section .title {
  font-size: 2.2rem;
  line-height: 50px;
}
.banner_section h2 {
  font-size: 2.2rem;
}
.banner_section .banner_search_form {
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--border2);
  color: var(--inputColor);
  max-width: 750px;
}
.banner_section .banner_search_form .input-wrapper {
  position: relative;
}
.banner_section .banner_search_form .input-wrapper .icon {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner_section .banner_search_form .input-wrapper input {
  font-size: 0.9em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 2.5rem;
  border-radius: 10px;
}
.banner_section .banner_search_form .input-wrapper input::placeholder {
  color: var(--inputColor);
}
.banner_section .banner_search_form select {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 0.9em;
  color: var(--inputColor);
  border-radius: 10px;
}
.banner_section .banner_search_form button {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.banner_search_form_2 {
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--border2);
  color: var(--inputColor);
  max-width: 98%;
}
.banner_search_form_2 .input-wrapper {
  position: relative;
}
.banner_search_form_2 .input-wrapper .icon {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner_search_form_2 .input-wrapper input {
  font-size: 0.9em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 2.5rem;
  border-radius: 10px;
}
.banner_search_form_2 .input-wrapper input::placeholder {
  color: var(--inputColor);
}
.banner_search_form_2 select {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 0.9em;
  color: var(--inputColor);
  border-radius: 10px;
}
.banner_search_form_2 button {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

@media screen and (max-width: 1300px) {
  .banner_section .title {
    font-size: 2rem;
    line-height: 46px;
  }
  .banner_section h2 {
    font-size: 1.2rem;
    line-height: 40px;
  }
}
@media screen and (max-width: 991px) {
  .banner_section .banner_search_form {
    box-shadow: none;
  }
}
.text_section .h4_style1 {
  line-height: 44px;
  font-weight: 700;
  max-width: 300px;
}
@media screen and (max-width: 575px) {
  .text_section .h4_style1 {
    line-height: 32px;
    font-size: 1.1em;
    max-width: fit-content;
  }
}

.inner_page_banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem 1rem;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inner_page_banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2588235294);
  z-index: 0;
}
.inner_page_banner .content {
  position: relative;
  z-index: 1;
}
.inner_page_banner .content .breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
  color: var(--white);
  margin-bottom: 0;
}
.inner_page_banner .content .breadcrumb li.active a,
.inner_page_banner .content .breadcrumb li.active span {
  color: var(--primaryLight);
}
.inner_page_banner .content .breadcrumb li a,
.inner_page_banner .content .breadcrumb li span {
  font-size: 1.2rem;
  font-weight: 500;
}
.inner_page_banner .content .breadcrumb a {
  color: var(--white);
}
.inner_page_banner .content .title {
  color: var(--white);
  margin-top: 1.2rem;
}

@media screen and (max-width: 575px) {
  .inner_page_banner {
    padding: 1.5rem 0.75rem;
  }
  .inner_page_banner .content .breadcrumb {
    gap: 0.4rem;
  }
  .inner_page_banner .content .breadcrumb li a,
  .inner_page_banner .content .breadcrumb li span {
    font-size: 1rem;
  }
  .inner_page_banner .content .title {
    margin-top: 1rem;
  }
}
.category_card_style1 {
  position: relative;
  text-align: center;
}
.category_card_style1 .image {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--border2);
  background-color: var(--white);
  transition: all 0.3s linear;
  border: 1px solid transparent;
}
.category_card_style1 .image img {
  width: 50%;
  margin: auto;
  transition: all 0.3s linear;
}
.category_card_style1:has(.stretched-link:hover) .image {
  border: 1px solid var(--primary);
}
.category_card_style1:has(.stretched-link:hover) .image img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.category_card_style1:has(.stretched-link:hover) .card_title {
  color: var(--primary);
}
.category_card_style1.shadow-light .image {
  box-shadow: 0 0 3px #e7e7e7;
}
.category_card_style1 .text-content {
  margin-top: 18px;
}
.category_card_style1 .text-content .card_title {
  font-size: 0.85em;
  font-weight: 600;
  transition: all 0.3s linear;
}

.course_card_style1 {
  position: relative;
  background-color: var(--white);
  padding: 20px;
  padding-bottom: 4.2rem;
  background-color: var(--white);
  box-shadow: 0 0 3px var(--border2);
  border-radius: 20px;
}
@media screen and (max-width: 575px) {
  .course_card_style1 {
    padding: 10px;
    padding-bottom: 3.5rem;
  }
}
.course_card_style1 .content_wrap .image {
  margin-bottom: 1.2rem;
}
.course_card_style1 .content_wrap .image a {
  display: inline-block;
}
.course_card_style1 .content_wrap .image a img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.course_card_style1 .content_wrap .main {
  padding-right: 0.7em;
  padding-left: 0.7em;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .main {
    padding-right: 0;
    padding-left: 0;
  }
}
.course_card_style1 .content_wrap .main .title a {
  display: inline-block;
  color: var(--dark);
  font-size: 0.8em;
  font-weight: 600;
  transition: all 0.3s linear;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .main .title a {
    font-size: 0.7em;
    line-height: 22px;
  }
}
.course_card_style1 .content_wrap .main .title a:hover {
  color: var(--primary);
}
.course_card_style1 .content_wrap .main .short_desc {
  color: var(--muted);
  font-size: 0.8em;
  font-weight: 400;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .main .short_desc {
    font-size: 0.75em;
  }
}
.course_card_style1 .content_wrap .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
  flex-wrap: wrap;
  margin-bottom: 0.85rem;
  padding-right: 0.7em;
  padding-left: 0.7em;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .stats {
    padding-right: 0;
    padding-left: 0;
  }
}
.course_card_style1 .content_wrap .stats img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .stats img {
    width: 30px;
    height: 30px;
  }
}
.course_card_style1 .content_wrap .stats .instructor_info {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  gap: 0.4em;
}
.course_card_style1 .content_wrap .stats .instructor_info h6 {
  font-size: 0.75em;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.course_card_style1 .content_wrap .stats .instructor_info .summary_info {
  margin: 0;
  font-size: 0.7em;
  color: var(--muted);
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .stats .instructor_info .summary_info {
    font-size: 0.65em;
  }
}
.course_card_style1 .content_wrap .meta {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0 0.85em;
  font-size: 0.75em;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .meta {
    font-size: 0.7em;
  }
}
.course_card_style1 .content_wrap .meta .list-inline-item {
  margin: 0;
}
.course_card_style1 .content_wrap .meta img {
  width: 16px;
  height: auto;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .meta img {
    width: 13px;
  }
}
.course_card_style1 .content_wrap .meta i {
  font-size: 0.75em;
  color: var(--muted);
}
@media screen and (max-width: 575px) {
  .course_card_style1 .content_wrap .meta .item_label {
    display: none;
  }
}
.course_card_style1 .call_to_action_wrap {
  position: absolute;
  bottom: 1rem;
  left: 20px;
  right: 20px;
  height: auto;
}
@media screen and (max-width: 575px) {
  .course_card_style1 .call_to_action_wrap {
    left: 8px;
    right: 8px;
  }
}
.course_card_style1 .call_to_action_wrap button,
.course_card_style1 .call_to_action_wrap a {
  font-size: 0.75em;
}

.story_card_style1 {
  position: relative;
  background-color: var(--white);
  padding: 20px;
  padding-bottom: 4.2rem;
  background-color: var(--white);
  box-shadow: 0 0 3px var(--border2);
  border-radius: 20px;
}
@media screen and (max-width: 575px) {
  .story_card_style1 {
    padding: 10px;
    padding-bottom: 2.9rem;
  }
}
.story_card_style1 .content_wrap .image {
  margin-bottom: 1.2rem;
}
.story_card_style1 .content_wrap .image a {
  display: inline-block;
}
.story_card_style1 .content_wrap .image a img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.story_card_style1 .content_wrap .main {
  padding-right: 0.7em;
  padding-left: 0.7em;
}
@media screen and (max-width: 575px) {
  .story_card_style1 .content_wrap .main {
    padding-right: 0;
    padding-left: 0;
  }
}
.story_card_style1 .content_wrap .main .title a {
  display: inline-block;
  color: var(--dark);
  font-size: 0.8em;
  font-weight: 600;
  transition: all 0.3s linear;
}
@media screen and (max-width: 575px) {
  .story_card_style1 .content_wrap .main .title a {
    font-size: 0.7em;
    line-height: 22px;
  }
}
.story_card_style1 .content_wrap .main .title a:hover {
  color: var(--primary);
}
.story_card_style1 .content_wrap .main .short_desc {
  color: var(--muted);
  font-size: 0.75em;
  font-weight: 400;
  line-height: 22px;
  max-height: 66px;
  overflow: hidden;
}
@media screen and (max-width: 575px) {
  .story_card_style1 .content_wrap .main .short_desc {
    font-size: 0.65em;
    line-height: 18px;
    max-height: 54px;
  }
}
.story_card_style1 .call_to_action_wrap {
  position: absolute;
  bottom: 1rem;
  left: 20px;
  right: 20px;
  height: auto;
}
.story_card_style1 .call_to_action_wrap button,
.story_card_style1 .call_to_action_wrap a {
  font-size: 0.75em;
  font-weight: 600;
}
@media screen and (max-width: 575px) {
  .story_card_style1 .call_to_action_wrap {
    left: 8px;
    right: 8px;
  }
  .story_card_style1 .call_to_action_wrap button,
  .story_card_style1 .call_to_action_wrap a {
    font-size: 0.55em;
  }
}

.iti {
  display: block;
}
.iti .iti__country-list li {
  font-size: 0.75em;
}

.e3business_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.e3business_pagination .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.e3business_pagination .pagination li .page-link {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--dark);
}
.e3business_pagination .pagination li.disabled {
  opacity: 0.7;
}
.e3business_pagination .pagination li.active a,
.e3business_pagination .pagination li.active span {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.feature_card_style1 {
  position: relative;
}
.feature_card_style1 .icon {
  margin-bottom: 0.6em;
}
.feature_card_style1 .icon svg,
.feature_card_style1 .icon img {
  width: 50px;
  height: auto;
}
.feature_card_style1 h5 {
  color: var(--dark);
  font-size: 1.2em;
  font-weight: 600;
}
.feature_card_style1 p {
  font-size: 0.9em;
  color: var(--link);
  line-height: 1.6;
  margin-bottom: 0;
}

.feature_card_style2 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.feature_card_style2 .icon {
  padding: 0.7rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
}
.feature_card_style2 .icon svg,
.feature_card_style2 .icon img {
  width: 40px;
  height: auto;
}
.feature_card_style2 .text {
  margin-bottom: 0;
  font-size: 0.9em;
  line-height: 1.8;
  max-width: 420px;
}

.partner_card_style1 {
  position: relative;
}
.partner_card_style1 .logo svg,
.partner_card_style1 .logo img {
  width: 100%;
  max-width: 130px;
  margin: auto;
  height: auto;
}

.stats_card_style1 {
  position: relative;
  text-align: center;
}
.stats_card_style1 .counter {
  color: var(--primary);
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.stats_card_style1 .description {
  color: var(--secondary);
  font-size: 1.8em;
  margin: 0;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .stats_card_style1 .counter {
    font-size: 3.5em;
  }
  .stats_card_style1 .description {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 992px) {
  .stats_card_style1 .counter {
    font-size: 3em;
  }
  .stats_card_style1 .description {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .stats_card_style1 .counter {
    font-size: 2.3em;
  }
  .stats_card_style1 .description {
    font-size: 1.2em;
  }
}
.testimonial_slider_style1.swiper {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 10px;
  width: 100%;
  max-width: 480px;
  height: auto;
}
.testimonial_slider_style1 .swiper-button-next,
.testimonial_slider_style1 .swiper-button-prev {
  position: absolute;
  bottom: 25px;
  top: auto;
  border: 1px solid var(--secondary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
}
.testimonial_slider_style1 .swiper-button-next::after,
.testimonial_slider_style1 .swiper-button-prev::after {
  font-family: "flaticon_oxford";
  font-size: 1.4em;
  color: var(--secondary);
}
.testimonial_slider_style1 .swiper-button-next {
  left: 80px;
  right: auto;
}
.testimonial_slider_style1 .swiper-button-next::after {
  content: "\f121";
}
.testimonial_slider_style1 .swiper-button-prev {
  left: 30px;
  right: auto;
}
.testimonial_slider_style1 .swiper-button-prev::after {
  content: "\f122";
}

.testimonial_card_style1 {
  position: relative;
  background-color: var(--white);
  padding: 1.5em;
}
.testimonial_card_style1 .description {
  font-size: 0.8em;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}
.testimonial_card_style1 .meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}
.testimonial_card_style1 .meta .reviewer {
  margin-bottom: 0.8rem;
}
.testimonial_card_style1 .meta .job_title {
  font-size: 0.75em;
  color: var(--muted);
}
.testimonial_card_style1 .meta .job_title strong {
  display: block;
  margin-bottom: 0.4em;
  color: var(--secondary);
}

.testimonial_card_style2 {
  position: relative;
  color: #ffffff;
}
.testimonial_card_style2 .text {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.9;
  margin-bottom: 1.5rem;
  max-width: 450px;
}
@media screen and (max-width: 575px) {
  .testimonial_card_style2 .text {
    font-size: 1rem;
  }
}
.testimonial_card_style2 .meta {
  display: flex;
  gap: 0.75rem;
}
.testimonial_card_style2 .meta img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.testimonial_card_style2 .meta h6 {
  font-size: 0.9em;
  margin-bottom: 0.4rem;
}
.testimonial_card_style2 .meta p {
  font-size: 0.76em;
  color: var(--white_50);
  margin-bottom: 0.4rem;
}
.testimonial_card_style2 .meta .icons i {
  color: var(--star_color);
}

.faq_card_style1 {
  position: relative;
  border: 0;
  background-color: transparent;
  border-radius: 6px;
  margin-bottom: 0.8rem;
}
.faq_card_style1:last-of-type {
  margin-bottom: 0;
}
.faq_card_style1 .accordion-button {
  position: relative;
  background-color: transparent;
  color: var(--dark);
  font-size: 1rem;
  padding-inline-end: 2.2rem;
}
.faq_card_style1 .accordion-button::after {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  top: 1.7rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: none;
  font-family: "flaticon_oxford";
  content: "\f10d";
  margin-inline-end: 0.5rem;
}
.faq_card_style1 .accordion-body {
  padding-top: 0;
}
.faq_card_style1 .accordion-body p {
  color: var(--link);
  font-size: 0.8em;
  max-width: 650px;
  line-height: 1.8;
}
.faq_card_style1:has(.accordion-button:not(.collapsed)) {
  background-color: var(--light);
}
.faq_card_style1:has(.accordion-button:not(.collapsed)) .accordion-button::after {
  content: "\f10f";
}

.course_lecture_card_style1 {
  position: relative;
  border-radius: 8px !important;
  margin-bottom: 1rem;
  border: 1px solid var(--border) !important;
}
.course_lecture_card_style1:last-of-type {
  margin-bottom: 0;
}
.course_lecture_card_style1 .accordion-button {
  background-color: transparent;
  color: var(--dark);
  font-size: 0.95rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.course_lecture_card_style1 .accordion-button::after {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}
.course_lecture_card_style1 .accordion-button:not(.collapsed) {
  border-bottom: 1px solid var(--border);
}
.course_lecture_card_style1:has(.accordion-button:not(.collapsed)) .accordion-button {
  background-color: var(--secondary);
  color: var(--white);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.course_lecture_card_style1:has(.accordion-button:not(.collapsed)) .accordion-button::after {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}
.course_lecture_card_style1 .accordion-body {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.course_lecture_card_style1 .accordion-body .lecture_item {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  font-size: 0.85rem;
  margin-bottom: 0.9rem;
}
.course_lecture_card_style1 .accordion-body .lecture_item:last-of-type {
  margin-bottom: 0;
}
.course_lecture_card_style1 .accordion-body .lecture_item .wrap {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.course_lecture_card_style1 .accordion-body .lecture_item .wrap svg {
  position: relative;
  width: 18px;
  height: 18px;
  top: 3px;
}
.course_lecture_card_style1 .accordion-body .lecture_item .wrap a {
  color: var(--dark);
}
.course_lecture_card_style1 .accordion-body .lecture_item .meta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.7rem;
}
.course_lecture_card_style1 .accordion-body .lecture_item .meta svg {
  width: 18px;
  height: 18px;
}
.course_lecture_card_style1 .accordion-body .lecture_item.active .wrap svg {
  fill: var(--primary);
}
.course_lecture_card_style1 .accordion-body .lecture_item.active .wrap a {
  color: var(--primary);
}
.course_lecture_card_style1 .accordion-body .lecture_item.active .meta {
  color: var(--primary);
}
.course_lecture_card_style1 .accordion-body .lecture_item.active .meta svg {
  fill: var(--primary);
}
.course_lecture_card_style1 .accordion-body .lecture_item.disabled svg {
  fill: var(--muted);
}
.course_lecture_card_style1 .accordion-body .lecture_item.disabled span {
  fill: var(--muted);
  opacity: 0.6;
}
.course_lecture_card_style1 .information_wrapper {
  font-size: 0.85rem;
  color: var(--muted);
  font-weight: 400;
  line-height: 2;
}

.course_lecture_card_style2 {
  position: relative;
  border-radius: 8px !important;
  border: 1px solid var(--border);
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}
.course_lecture_card_style2:last-of-type {
  margin-bottom: 0;
}
.course_lecture_card_style2 .wrap {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.course_lecture_card_style2 .wrap .title {
  font-size: 0.9rem;
}
.course_lecture_card_style2 .wrap a {
  font-size: 0.8rem;
  color: var(--secondary);
  text-decoration: underline;
  display: inline-block;
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.course_lecture_card_style2 .meta span {
  background-color: #f7f7f8;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.8rem;
}

@media screen and (max-width: 576px) {
  .course_lecture_card_style1 .accordion-button {
    font-size: 0.85rem;
  }
  .course_lecture_card_style1 .lecture_item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .course_lecture_card_style1 .lecture_item .meta {
    padding-inline-start: 1.5rem;
  }
  .course_lecture_card_style2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.courses_filter_card {
  position: -webkit-sticky;
  position: sticky;
  top: -95%;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;
}
.courses_filter_card .search_wrapper {
  margin-bottom: 0.8rem;
}
.courses_filter_card .search_wrapper .input-group {
  border-radius: 8px;
  border: 1px solid var(--border);
}
.courses_filter_card .search_wrapper .input-group input {
  border: 0;
  border-radius: 8px;
  font-size: 0.86rem;
}
.courses_filter_card .search_wrapper .input-group .input-group-text {
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.3rem;
}
.courses_filter_card .search_wrapper .input-group button {
  font-size: 0.8rem;
  padding-inline-end: 0.6rem !important;
  color: var(--secondary);
}

.course_filter_accordion .filter_item {
  border-color: var(--border);
  border-radius: 8px;
  margin-bottom: 0.8rem;
  border: 1px solid var(--border);
}
.course_filter_accordion .filter_item:last-of-type {
  margin-bottom: 0;
}
.course_filter_accordion .filter_item .accordion-button {
  padding: 0.9rem;
  font-size: 0.9rem;
  border-radius: 8px;
  background-color: transparent;
  color: var(--secondary);
  border-bottom: 0;
}
.course_filter_accordion .filter_item .accordion-button:not(.collapsed) {
  color: var(--dark);
  border-bottom: 1px solid var(--border);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.course_filter_accordion .filter_item .accordion-button::after {
  background-color: var(--secondary);
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-position: center;
  background-size: 1rem;
}
.course_filter_accordion .filter_item .accordion-body .form-check {
  margin-bottom: 0.5rem;
}
.course_filter_accordion .filter_item .accordion-body .form-check:last-child {
  margin-bottom: 0;
}
.course_filter_accordion .filter_item .accordion-body .form-check .form-check-label {
  font-size: 0.8rem;
}
.course_filter_accordion .filter_item .accordion-body .form-check .form-check-label span {
  display: inline-block;
  color: var(--muted);
  margin-inline-start: 0.3rem;
}
.course_filter_accordion .filter_item .accordion-body .form-check .form-check-input:checked {
  background-color: var(--primary);
}

.result_heading_row .filter_col {
  display: none;
}
.result_heading_row .filter_col .filter_col_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}
.result_heading_row .filter_col .filter_col_wrapper input {
  border-color: var(--border);
  font-size: 0.8rem;
  border-radius: 8px;
}
.result_heading_row .filter_col .filter_col_wrapper button {
  border: 1px solid var(--border);
  background-color: transparent;
  border-radius: 8px;
  padding: 0.6rem 1rem;
}

.course_filter_offcanvas {
  height: 95vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.course_filter_offcanvas .offcanvas-header {
  border-bottom: 1px solid var(--border);
}
.course_filter_offcanvas .offcanvas-body {
  padding: 1rem;
}

.ad_container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 220px;
  color: var(--white);
  margin-top: 1rem;
}
.ad_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2901960784);
  border-radius: 8px;
}
.ad_container .content {
  position: relative;
  z-index: 1;
  max-width: 85%;
  margin: auto;
}
.ad_container h5 {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
}
.ad_container p {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}
.ad_container a {
  color: var(--primaryLight);
  font-size: 0.8rem;
}

.form_action {
  display: none;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 1199px) {
  .main_filter_col {
    display: none;
  }
  .result_heading_row .filter_col {
    display: block;
  }
  .result_heading_row .heading_col {
    display: none;
  }
  .course_filter_offcanvas .offcanvas-body .search_wrapper {
    display: none;
  }
  .form_action {
    display: flex;
  }
}
.template_card_style1 {
  position: relative;
  padding: 1.5rem;
  padding-bottom: 5rem;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(192, 196, 203, 0.462745098);
}
.template_card_style1 .content {
  text-align: center;
}
.template_card_style1 .content .image {
  margin-bottom: 1.2rem;
}
.template_card_style1 .content .image img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.template_card_style1 .content .text h5 {
  font-size: 0.85rem;
  line-height: 1.5;
  margin-bottom: 0;
}
.template_card_style1 .call_to_action {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}
.template_card_style1 .call_to_action a,
.template_card_style1 .call_to_action button {
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.template_col {
  flex-basis: 20%;
  flex-grow: unset;
}
@media screen and (max-width: 1199px) {
  .template_col {
    flex-basis: 25%;
  }
}
@media screen and (max-width: 991px) {
  .template_col {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (max-width: 575px) {
  .template_col {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 575px) {
  .template_card_style1 {
    padding: 1rem 1rem 4rem 1rem;
  }
  .template_card_style1 .content .image {
    margin-bottom: 1rem;
  }
  .template_card_style1 .content .text h5 {
    font-size: 0.75rem;
  }
  .template_card_style1 .call_to_action {
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
  .template_card_style1 .call_to_action a,
  .template_card_style1 .call_to_action button {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.8rem;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=app.css.map */
