.chat__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border: 1px solid var(--greyLight4);
  margin-top: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  max-height: 500px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 20px;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #bababa;
    border-radius: 20px;
  }
  .chat__item {
    width: fit-content;
    max-width: 100%;
    border-radius: 10px;
    padding: 1rem;
    padding-inline-end: 2rem;
    font-size: 0.875rem;
    display: flex;
    gap: 0.825rem;
    box-shadow: 0 0 5px #e6e6e6;
    @media screen and (min-width: 1200px) {
      max-width: 60%;
    }
    img {
      min-width: 46px;
      height: 46px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #ffffff;
    }
    .message__text {
      margin-top: 0;
      margin-bottom: 0.4rem;
      line-height: 1.5;
    }
    .message__meta {
      margin-top: 0;
      margin-bottom: 0;
      font-family: 0.8rem;
      color: var(--muted);
    }
    &.remote {
      align-self: flex-end;
      background-color: var(--primary);
      color: var(--white);
      .message__meta {
        color: #efefef;
      }
    }
    &.local {
      align-self: flex-start;
      background-color: var(--greyLight3);
    }
  }
}

@media screen and (max-width: 1199px) {
  .chat__container {
    gap: 0.825rem;
    padding: 2rem 1rem;
    .chat__item {
      padding: 0.925rem;
      gap: 0.8rem;
      img {
        min-width: 40px;
        height: 40px;
      }
    }
  }
}
