.e3__form__validate {
  input.error,
  textarea.error,
  select.error {
    border-color: var(--red) !important;
    color: var(--red) !important;
  }
  label.error {
    font-size: 0.7rem;
    color: var(--red) !important;
    margin-top: 0.3rem;
  }
}

input[type="radio"],
input[type="checkbox"] {
  &:checked {
    & + .btn-label {
      border-color: var(--primary);
      color: var(--primary);
    }
  }
}

.btn-label {
  font-size: 0.8rem;
  border: 1px solid var(--border2);
  padding: 0.5rem 1.2rem;
  border-radius: 3px;
  cursor: pointer;
}

input[type="radio"].error,
input[type="checkbox"].error {
  & + .btn-label {
    border-color: var(--red);
    color: var(--red);
  }
}
