.auth-modal .modal-dialog {
  max-width: 600px;
}
.auth-modal .modal-header h5 {
  font-size: 15px;
  font-weight: 500;
}
.auth-modal form {
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}
.auth-modal form .form-label {
  font-weight: 500;
}
.auth-modal form input,
.auth-modal form select {
  height: 45px;
  font-size: 14px;
  border-radius: 0;
}
.auth-modal form input:focus,
.auth-modal form select:focus {
  border-color: var(--dark);
}
.auth-modal form input.error,
.auth-modal form select.error {
  border-color: var(--red);
  color: var(--red);
}
.auth-modal form .form-check-input {
  height: 15px;
}
.auth-modal form .form-check-input:checked {
  border-color: var(--dark);
  background-color: var(--dark);
}
.auth-modal form label.error {
  font-size: 13px;
  color: var(--red);
}
.auth-modal form button {
  border: 0;
  background-color: var(--dark);
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-transform: capitalize;
  transition: all 0.4s linear;
}
.auth-modal form button:hover {
  opacity: 0.8;
}
.auth-modal form button .css-spinner {
  display: none;
}
.auth-modal form button.loading {
  pointer-events: none;
  opacity: 0.7;
}
.auth-modal form button.loading i {
  display: none;
}
.auth-modal form button.loading .css-spinner {
  display: inline-block;
}
.auth-modal form button:disabled {
  pointer-events: none;
  opacity: 0.7;
}
.auth-modal form .action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.auth-modal form .action-row a {
  color: var(--dark);
}

.auth-tabs .nav-tabs .nav-link {
  width: 50%;
  color: var(--dark);
  border: 0;
  font-size: 14px;
}
.auth-tabs .nav-tabs .nav-link.active {
  font-weight: 500;
  border-bottom: 1px solid var(--dark);
}

.auth-form-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8352941176);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.auth-form-loader.shown {
  display: flex;
}
.auth-form-loader .inner-content {
  padding: 10px;
  text-align: center;
}
.auth-form-loader .inner-content .msg {
  max-width: 380px;
  margin: auto;
  font-size: 15px;
  font-weight: 500;
  margin-top: 12px;
}

.auth-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8823529412);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 2px solid var(--dark);
}
.auth-form-overlay.shown {
  display: flex;
}
.auth-form-overlay .inner-content {
  padding: 10px;
  text-align: center;
}
.auth-form-overlay .inner-content .msg {
  max-width: 380px;
  margin: auto;
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
}
.auth-form-overlay.success {
  border-color: var(--green);
}
.auth-form-overlay.success .inner-content i {
  color: var(--green);
}
.auth-form-overlay.error {
  border-color: var(--red);
}
.auth-form-overlay.error .inner-content {
  color: var(--red);
}

.otp-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.otp-group.error .otp-input {
  border-color: var(--red) !important;
  color: var(--red) !important;
}
.otp-group.success .otp-input {
  border-color: var(--green) !important;
  color: var(--green) !important;
}
.otp-group .otp-input {
  width: 60px;
  height: 45px;
  text-align: center;
  border: 1px solid var(--grey1);
  font-size: 16px;
  font-weight: 500;
}
.otp-group .otp-input.error {
  border-color: var(--red) !important;
  color: var(--red) !important;
}
.otp-group .otp-input::placeholder {
  font-size: 20px;
  color: var(--dark);
}
.otp-group .otp-input:focus {
  border-color: var(--dark);
}
.otp-group .otp-input:focus::placeholder {
  opacity: 0.2;
}

#resendCode {
  display: none;
}

/*# sourceMappingURL=auth.css.map */
