.cart-section .cart-section-heading {
  position: relative;
  padding-left: 35px;
}
.cart-section .cart-section-heading .back_btn {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
.cart-section .cart-section-heading .back_btn span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #000000;
  -webkit-mask-image: url("../../images/icons/close.svg");
  mask-image: url("../../images/icons/close.svg");
  mask-size: 14px;
  mask-repeat: no-repeat;
  mask-position: center;
}
.cart-section .cart-section-heading .links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.cart-section .cart-section-heading .links li {
  font-size: 15px;
}
.cart-section .cart-section-heading .links li a,
.cart-section .cart-section-heading .links li button,
.cart-section .cart-section-heading .links li span {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  background-color: transparent;
  border: 0;
}
.cart-section .cart-section-heading .links li a::after,
.cart-section .cart-section-heading .links li button::after,
.cart-section .cart-section-heading .links li span::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-mask-image: url("../../images/icons/wavyLineBlack.svg");
  mask-image: url("../../images/icons/wavyLineBlack.svg");
  mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: #000000;
}
.cart-section .cart-section-heading .links li a.active::after,
.cart-section .cart-section-heading .links li button.active::after,
.cart-section .cart-section-heading .links li span.active::after {
  display: block;
}
.cart-section .cart-section-heading .links li span {
  color: #0d0d0d;
  opacity: 0.7;
  position: none;
}
.cart-section .cart-content .hint {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  background-color: #fae800;
  padding: 8px 14px;
}
.cart-section .cart-content .cart-item {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 15px 0;
}
.cart-section .cart-content .cart-item:last-of-type {
  padding-bottom: 0;
}
@media screen and (max-width: 576px) {
  .cart-section .cart-content .cart-item {
    gap: 10px;
  }
}
.cart-section .cart-content .cart-item .wrap {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 576px) {
  .cart-section .cart-content .cart-item .wrap {
    gap: 10px;
  }
}
.cart-section .cart-content .cart-item .wrap img {
  width: 70px;
  height: auto;
}
@media screen and (max-width: 576px) {
  .cart-section .cart-content .cart-item .wrap img {
    width: 60px;
    height: auto;
  }
}
.cart-section .cart-content .cart-item .wrap .info .title {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .cart-section .cart-content .cart-item .wrap .info .title {
    font-size: 13px;
    line-height: 15px;
  }
}
.cart-section .cart-content .cart-item .wrap .info .size {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .cart-section .cart-content .cart-item .wrap .info .size {
    line-height: 15px;
    font-size: 13px;
  }
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  margin-top: 20px;
  max-width: 110px;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap button {
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  width: 35px;
  padding: 0;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap button:disabled {
  opacity: 0.7;
  pointer-events: none;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap button span {
  display: inline-block;
  width: 35px;
  height: 10px;
  background-color: #000000;
  mask-repeat: no-repeat;
  mask-size: 10px;
  mask-position: center;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap button.decrement span {
  -webkit-mask-image: url(../../images/icons/minus.svg);
  mask-image: url(../../images/icons/minus.svg);
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap button.increment span {
  -webkit-mask-image: url(../../images/icons/plus.svg);
  mask-image: url(../../images/icons/plus.svg);
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap .qty {
  position: relative;
  display: inline-block;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  width: 40px;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap .qty .val {
  opacity: 1;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap .qty .css-spinner {
  opacity: 0;
  position: absolute;
  top: 16%;
  left: 30%;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap.loading .qty .val {
  opacity: 0;
}
.cart-section .cart-content .cart-item .wrap .info .call-to-action-wrap.loading .qty .css-spinner {
  opacity: 0.7;
}
.cart-section .cart-content .cart-item .meta {
  text-align: center;
}
.cart-section .cart-content .cart-item .meta .price {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .cart-section .cart-content .cart-item .meta .price {
    font-size: 12px;
  }
}
.cart-section .cart-content .cart-item .meta .price .original {
  text-decoration: line-through;
  color: #ff410d;
}
.cart-section .cart-content .cart-item .meta .remove_from_cart_btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}
.cart-section .cart-content .cart-item .meta .remove_from_cart_btn .trash {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url("../../images/icons/trash.svg");
  mask-image: url("../../images/icons/trash.svg");
  background-color: #000000;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 20px;
}
@media screen and (max-width: 576px) {
  .cart-section .cart-content .cart-item .meta .remove_from_cart_btn .trash {
    mask-size: 18px;
  }
}
.cart-section .cart-content .cart-item .meta .remove_from_cart_btn .css-spinner {
  display: none;
}
.cart-section .cart-content .cart-item .meta .remove_from_cart_btn.loading .trash {
  display: none;
}
.cart-section .cart-content .cart-item .meta .remove_from_cart_btn.loading .css-spinner {
  display: inline-block;
}
.cart-section .order_form_container .step-wrap .step-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}
.cart-section .order_form_container .step-wrap .step-content .option-item {
  display: flex;
  gap: 20px;
  border: 1px solid #d9d9d9;
  padding: 20px;
  border-radius: 5px;
  align-items: flex-start;
  height: 100%;
  cursor: pointer;
}
.cart-section .order_form_container .step-wrap .step-content .option-item:has(input:checked) {
  border-color: #000000;
}
.cart-section .order_form_container .step-wrap .step-content .option-item:has(input:checked) .main {
  color: #000000;
  font-weight: 600;
}
.cart-section .order_form_container .step-wrap .step-content .option-item:has(input.error) {
  color: #ff410d;
  border-color: #ff410d;
}
.cart-section .order_form_container .step-wrap .step-content .option-item:has(input:disabled) {
  opacity: 0.7;
  pointer-events: none;
}
.cart-section .order_form_container .step-wrap .step-content .option-item input[type=checkbox],
.cart-section .order_form_container .step-wrap .step-content .option-item input[type=radio] {
  position: relative;
  top: 0;
  border-color: #000000;
  width: 20px;
  height: 20px;
}
.cart-section .order_form_container .step-wrap .step-content .option-item input[type=checkbox]:checked,
.cart-section .order_form_container .step-wrap .step-content .option-item input[type=radio]:checked {
  background-color: #000000;
}
.cart-section .order_form_container .step-wrap .step-content .option-item input[type=checkbox].error,
.cart-section .order_form_container .step-wrap .step-content .option-item input[type=radio].error {
  border-color: #ff410d;
}
.cart-section .order_form_container .step-wrap .step-content .option-item .main {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.cart-section .order_form_container .step-wrap .step-content .option-item .sub {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #909090;
}
.cart-section .order_form_container .step-wrap .step-content .call-to-action button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 14px;
  transition: all 0.4s ease-in-out;
}
.cart-section .order_form_container .step-wrap .step-content .call-to-action button:hover {
  background-color: #333333;
}
.cart-section .order_form_container .step-wrap .step-content .call-to-action button img {
  width: 15px;
  height: auto;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.cart-section .order_form_container .step-wrap .discount-form-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (max-width: 575px) {
  .cart-section .order_form_container .step-wrap .discount-form-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.cart-section .order_form_container .step-wrap .discount-form-wrap.success input,
.cart-section .order_form_container .step-wrap .discount-form-wrap.success .discount-hint {
  color: #00b852;
  border-color: #00b852 !important;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap.success input button,
.cart-section .order_form_container .step-wrap .discount-form-wrap.success .discount-hint button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #ff410d;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap.error input,
.cart-section .order_form_container .step-wrap .discount-form-wrap.error .discount-hint {
  color: #ff410d;
  border-color: #ff410d !important;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .wrap {
  width: 100%;
  max-width: 500px;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .wrap input {
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 10px 15px;
  font-size: 14px;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .wrap input:focus {
  border-color: #000000;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .wrap input.error {
  color: #ff410d;
  border-color: #ff410d !important;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .wrap .discount-hint {
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply {
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (max-width: 575px) {
  .cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply {
    width: 100%;
  }
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply button {
  border: 0;
  background-color: #fae800;
  color: #000000;
  padding: 8px 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 575px) {
  .cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply button {
    width: 100%;
  }
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply button .css-spinner {
  display: none;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply button.loading {
  opacity: 0.8;
  pointer-events: none;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply button.loading .css-spinner {
  display: inline-block;
}
.cart-section .order_form_container .step-wrap .discount-form-wrap .discount-apply button:disabled {
  opacity: 0.8;
  pointer-events: none;
}
.cart-section .order_form_container .step-wrap .order-gist .item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 15px;
}
.cart-section .order_form_container .step-wrap .order-gist .item .value {
  margin-bottom: 0;
  margin-bottom: 0;
}
.cart-section .order_form_container .step-wrap .order-gist .item .value.discount {
  color: #00b852;
}
.cart-section .agreement-check:checked {
  border-color: #000000;
  background-color: #000000;
}
.cart-section .agreement-check.error {
  border-color: #ff410d;
}
.cart-section .form-check:has(.error) .form-check-label {
  color: #ff410d;
}
.cart-section .form-check:has(.error) .form-check-label a {
  color: #ff410d !important;
}
.cart-section label.error {
  color: #ff410d !important;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
}
.cart-section textarea.error {
  color: #ff410d;
  border-color: #ff410d;
}

.custom-modal .modal-header h5 {
  font-size: 15px;
  font-weight: 500;
}
.custom-modal form {
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}
.custom-modal form .form-label {
  font-weight: 500;
}
.custom-modal form input,
.custom-modal form select {
  height: 45px;
  font-size: 14px;
  border-radius: 0;
}
.custom-modal form input:focus,
.custom-modal form select:focus {
  border-color: #000000;
}
.custom-modal form input.error,
.custom-modal form select.error {
  border-color: #ff410d;
  color: #ff410d;
}
.custom-modal form label.error {
  font-size: 13px;
  color: #ff410d;
}
.custom-modal form button {
  border: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  transition: all 0.4s linear;
}
.custom-modal form button:hover {
  background-color: #404040;
}
.custom-modal form button .css-spinner {
  display: none;
}
.custom-modal form button.loading {
  pointer-events: none;
  opacity: 0.7;
}
.custom-modal form button.loading .css-spinner {
  display: inline-block;
}
.custom-modal form button:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.order-summary-content .hint {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  background-color: #fae800;
  padding: 8px 14px;
}
.order-summary-content .part-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}
.order-summary-content .order-summary-box {
  padding: 15px 20px;
  background-color: #f0f0f0;
}
.order-summary-content .order-summary-box table {
  width: 100%;
}
.order-summary-content .order-summary-box table tr {
  border-bottom: 1px solid #d9d9d9;
}
.order-summary-content .order-summary-box table tr:last-child {
  border-bottom: 0;
}
.order-summary-content .order-summary-box table td {
  padding: 4px 0;
}
.order-summary-content .order-summary-box table td .label {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}
@media screen and (max-width: 575px) {
  .order-summary-content .order-summary-box table td .label {
    font-size: 12px;
  }
}
.order-summary-content .order-summary-box table td .value {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}
@media screen and (max-width: 575px) {
  .order-summary-content .order-summary-box table td .value {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .order-summary-content .order-summary-box.cart-box {
    padding: 10px 15px;
  }
}
.order-summary-content .order-summary-box.cart-box table td {
  padding: 12px 0;
}
.order-summary-content .order-summary-box.cart-box table td.img-cell {
  width: 80px;
}
@media screen and (max-width: 575px) {
  .order-summary-content .order-summary-box.cart-box table td.img-cell {
    width: 50px;
  }
}
.order-summary-content .order-summary-box.cart-box table td.img-cell img {
  width: 50px;
}
@media screen and (max-width: 575px) {
  .order-summary-content .order-summary-box.cart-box table td.img-cell img {
    width: 40px;
  }
}
@media screen and (max-width: 375px) {
  .order-summary-content .order-summary-box.cart-box table td.text-cell {
    width: 160px;
  }
}

.sticky-box {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  left: 0;
}

/* RTL */
/* ************************************** */
html:dir(rtl) .cart-section .cart-section-heading {
  padding-right: 35px;
  padding-left: 0;
}
html:dir(rtl) .cart-section .cart-section-heading .back_btn {
  right: 0;
  left: auto;
}

.empty-cart-content {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px;
}
.empty-cart-content img {
  width: 70px;
  height: auto;
}
.empty-cart-content .text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 500;
}

/*# sourceMappingURL=cart.css.map */
