.product_card_style1 {
  position: relative;
  padding: 30px 20px;
  padding-bottom: 70px;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  overflow: hidden;
}
@media screen and (max-width: 575px) {
  .product_card_style1 {
    padding-bottom: 80px;
  }
}
.product_card_style1 .card-badge {
  position: absolute;
  top: 30px;
  left: 15px;
  max-width: 80px;
  font-family: "Oleo Script Swash Caps", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  line-height: 1;
}
@media screen and (max-width: 576px) {
  .product_card_style1 .card-badge {
    font-size: 14px;
    top: 20px;
    left: 10px;
  }
}
.product_card_style1 picture {
  display: block;
  width: 100%;
  height: auto;
}
.product_card_style1 picture source,
.product_card_style1 picture img {
  width: 100%;
  height: auto;
}
.product_card_style1 .text {
  margin-top: 30px;
}
.product_card_style1 .text .title {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  line-height: 16px;
}
.product_card_style1 .text .size {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}
.product_card_style1 .text .size .discount {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 50px;
  background-color: #ff410d;
  color: #ffffff;
}
@media screen and (max-width: 575px) {
  .product_card_style1 .text .size .discount {
    padding: 2px 4px;
    font-size: 11px;
  }
}
.product_card_style1 .text .size:has(.discount) .current, .product_card_style1 .text .size:has(.original) .current {
  color: #ff410d;
}
.product_card_style1 .stretched-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product_card_style1 .add_to_cart_viewer {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #00b852;
  border-radius: 50%;
  border: 0;
  z-index: 2;
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .product_card_style1 .add_to_cart_viewer {
    display: block;
    right: 20px;
    bottom: 20px;
  }
}
.product_card_style1 .add_to_cart_viewer span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #000000;
  -webkit-mask: url("../../images/icons/cart.svg") no-repeat center/40%;
  mask: url("../../images/icons/cart.svg") no-repeat center/40%;
}
.product_card_style1:hover .add_to_cart_viewer_js {
  display: block;
}
.product_card_style1 .cart_overlay {
  padding: 40px 30px;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 30%;
  min-height: 200px;
  background-color: #e4e4e4;
  -webkit-mask: radial-gradient(5.12px at 50% 7.2px, #000 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 8px) 0/16px 100%, radial-gradient(5.12px at 50% -3.2px, rgba(0, 0, 0, 0) 99%, #000 101%) 50% 4px/16px 100% repeat-x;
  mask: radial-gradient(5.12px at 50% 7.2px, #000 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 8px) 0/16px 100%, radial-gradient(5.12px at 50% -3.2px, rgba(0, 0, 0, 0) 99%, #000 101%) 50% 4px/16px 100% repeat-x;
  z-index: 5;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 1199px) {
  .product_card_style1 .cart_overlay {
    padding: 30px 15px;
  }
}
.product_card_style1 .cart_overlay.xl {
  min-height: 250px;
}
.product_card_style1 .cart_overlay.shown {
  bottom: 0;
}
.product_card_style1 .cart_overlay .select {
  margin-bottom: 10px;
  position: relative;
}
.product_card_style1 .cart_overlay .select select {
  width: 100%;
  border: 0;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 30px;
}
.product_card_style1 .cart_overlay .select::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #000000;
  -webkit-mask: url("../../images/icons/down.svg") no-repeat center/100%;
  mask: url("../../images/icons/down.svg") no-repeat center/100%;
}
.product_card_style1 .cart_overlay .add_to_cart_action {
  width: 100%;
  background-color: #00b852;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 12px;
  font-size: 14px;
  border: 0;
}
@media screen and (max-width: 1199px) {
  .product_card_style1 .cart_overlay .add_to_cart_action {
    font-size: 12px;
  }
}
.product_card_style1 .cart_overlay .add_to_cart_overlay_dismiss {
  position: absolute;
  z-index: 6;
  bottom: 20px;
  right: 25px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
}
.product_card_style1 .cart_overlay .add_to_cart_overlay_dismiss span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #000000;
  -webkit-mask: url("../../images/icons/close.svg") no-repeat center/25%;
  mask: url("../../images/icons/close.svg") no-repeat center/25%;
}
.product_card_style1 .category-text {
  position: absolute;
  left: 20px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
.product_card_style1 .category-text p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.product_card_style2 {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.product_card_style2 picture {
  display: block;
  width: 100%;
  height: auto;
  background-color: #e4e4e4;
}
.product_card_style2 picture source,
.product_card_style2 picture img {
  width: 100%;
  height: auto;
}
.product_card_style2 .text {
  padding: 20px;
}
.product_card_style2 .text .title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  line-height: 16px;
}
@media screen and (max-width: 576px) {
  .product_card_style2 .text .title {
    font-size: 13px;
  }
}
.product_card_style2 .stretched-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product_card_style3 {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
}
.product_card_style3 picture {
  display: block;
  width: 100%;
  height: auto;
}
.product_card_style3 picture source,
.product_card_style3 picture img {
  width: 100%;
  height: auto;
}
.product_card_style3 .stretched-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html:dir(rtl) .product_card_style1 .card-badge {
  right: 15px;
  left: auto;
}
html:dir(rtl) .product_card_style1 .stretched-link {
  right: 0;
  left: auto;
}
html:dir(rtl) .product_card_style1 .add_to_cart_viewer {
  left: 20px;
  right: auto;
}
html:dir(rtl) .product_card_style1 .cart_overlay {
  right: 0;
  left: auto;
}
html:dir(rtl) .product_card_style1 .cart_overlay .select select {
  padding-left: 30px;
  padding-right: 10px;
}
html:dir(rtl) .product_card_style1 .cart_overlay .select::after {
  left: 10px;
  right: auto;
}
html:dir(rtl) .product_card_style1 .cart_overlay .add_to_cart_overlay_dismiss {
  left: 25px;
  right: auto;
}
html:dir(rtl) .product_card_style1 .category-text {
  right: 20px;
  left: auto;
}

/*# sourceMappingURL=product.css.map */
