.profile-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px 25px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1550px) {
  .profile-filter-section {
    gap: 5px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (max-width: 991px) {
  .profile-filter-section {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.profile-filter-section .links-wrap {
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}
@media screen and (max-width: 1550px) {
  .profile-filter-section .links-wrap {
    padding-left: 15px;
  }
}
.profile-filter-section .links-wrap::-webkit-scrollbar {
  width: 2px;
  opacity: 0;
}
.profile-filter-section .links-wrap ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 22px;
}
@media screen and (max-width: 1200px) {
  .profile-filter-section .links-wrap ul {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1024px) {
  .profile-filter-section .links-wrap ul {
    flex-wrap: nowrap;
  }
}
.profile-filter-section .links-wrap ul button,
.profile-filter-section .links-wrap ul a {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  padding-bottom: 2px;
  -webkit-user-select: none;
  user-select: none;
  color: var(--dark);
  text-decoration: none;
}
.profile-filter-section .links-wrap ul button::after,
.profile-filter-section .links-wrap ul a::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: url("../../images/icons/wavyLineBlack.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.profile-filter-section .links-wrap ul button:hover::after, .profile-filter-section .links-wrap ul button.active::after,
.profile-filter-section .links-wrap ul a:hover::after,
.profile-filter-section .links-wrap ul a.active::after {
  display: block;
}

.profile-settings-form {
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}
.profile-settings-form .form-label {
  font-weight: 500;
}
.profile-settings-form input,
.profile-settings-form select {
  height: 45px;
  font-size: 14px;
  border-radius: 0;
}
.profile-settings-form input:focus,
.profile-settings-form select:focus {
  border-color: var(--dark);
}
.profile-settings-form input.error,
.profile-settings-form select.error {
  border-color: var(--red);
  color: var(--red);
}
.profile-settings-form label.error {
  font-size: 13px;
  color: var(--red);
}
.profile-settings-form button {
  border: 0;
  background-color: var(--dark);
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  transition: all 0.4s linear;
}
.profile-settings-form button:hover {
  opacity: 0.8;
}
.profile-settings-form button .css-spinner {
  display: none;
}
.profile-settings-form button.loading {
  pointer-events: none;
  opacity: 0.7;
}
.profile-settings-form button.loading .css-spinner {
  display: inline-block;
}
.profile-settings-form button:disabled {
  pointer-events: none;
  opacity: 0.7;
}

/* ********************************************************************** */
/* ********************************************************************** */
@media screen and (max-width: 1550px) {
  html:dir(rtl) .products-filter-section .links-wrap {
    padding-right: 15px;
    padding-left: 10px;
  }
}
html:dir(rtl) .products-filter-section .links-wrap ul button::after,
html:dir(rtl) .products-filter-section .links-wrap ul a::after {
  right: 0;
  left: auto;
}

/*# sourceMappingURL=profile.css.map */
