.faq_question {
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.about_primary__section {
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  overflow: hidden;
  @media screen and (max-width: 991px) {
    grid-template-columns: 100%;
  }
  .bg {
    position: relative;
    inset-inline-end: -1rem;
    text-align: end;
    @media screen and (max-width: 991px) {
      inset-inline-end: 0;
    }
  }
}
