.certificate-container {
  max-width: 100%;
  overflow: auto;
}
.diploma-certificate {
  position: relative;
  width: 1260px;
  height: 884px;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
