.radio__question {
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  input[type="radio"],
  input[type="checkbox"] {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    margin-inline-end: 0.5rem;
  }
  &:has(input:checked) {
    border-color: var(--primary);
    input {
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
  &:has(input.error) {
    border-color: var(--red) !important;
    input {
      background-color: var(--white) !important;
      border-color: var(--red) !important;
    }
  }
}

.result__chart__container {
  position: relative;
  .result__text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    font-size: 1.5rem;
    text-align: center;
  }
}

.exam__count__down__container {
  position: fixed;
  z-index: 10;
  bottom: 1.5rem;
  inset-inline-end: 1.5rem;
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--white);
  .info-box {
    width: 60px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--white);
    color: var(--primary);
    font-size: 0.9rem;
    font-weight: 600;
  }
  @media screen and (max-width: 576px) {
    bottom: 1rem;
    inset-inline-end: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0.4rem;
    gap: 0.4rem;
    .info-box {
      width: 50px;
      height: 40px;
      line-height: 40px;
      font-size: 0.8rem;
    }
  }
}
