@font-face {
    font-family: 'Oleo Script Swash Caps';
    src: url('OleoScriptSwashCaps-Regular.woff2') format('woff2'),
        url('OleoScriptSwashCaps-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oleo Script Swash Caps';
    src: url('OleoScriptSwashCaps-Bold.woff2') format('woff2'),
        url('OleoScriptSwashCaps-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

